@charset "UTF-8";
/* Custom style */
body {
  padding: 0;
  margin: 0;
  font-family: "Lato", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #1A212F;
  background-color: #FFFEFD;
  position: relative; }

.container {
  max-width: 1170px;
  padding: 0 10px;
  margin: 0 auto; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

fieldset {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .ibg img {
    display: none; }

.btn {
  display: inline-block;
  text-decoration: none;
  background-color: #FFFEFD;
  border: none;
  cursor: pointer;
  padding: 15px 55px 15px 30px;
  box-shadow: 0px 5px 25px rgba(26, 33, 47, 0.1);
  border-radius: 25px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #1A212F;
  background-image: url(../img/paw.svg);
  background-repeat: no-repeat;
  background-position: 162px 7px;
  transition: .2s; }
  .btn:active {
    transform: translateY(2px); }

.main {
  padding-top: 76px; }

.section-name {
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  text-align: center; }

/* HEADER */
.header {
  background: #fff;
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1; }
  .header__active {
    z-index: 1;
    border-bottom: 1px solid #000; }
  .header__content {
    min-height: 76px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__nav {
    display: flex; }
  .header__list {
    display: flex;
    margin-left: 5px; }
    .header__list-close {
      display: none; }
  .header__item:not(:last-child) {
    margin-right: 26px; }
  .header__link {
    display: block;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #1A212F;
    transition: .2s; }
    .header__link:hover {
      opacity: 0.7; }

.burger {
  width: 35px;
  cursor: pointer;
  display: none; }
  .burger-line {
    width: 35px;
    height: 5px;
    background-color: #000;
    margin: 6px 0; }

.change-burger.burger-line:first-child {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px); }

.change-burger.burger-line:nth-child(2) {
  opacity: 0; }

.change-burger.burger-line:nth-child(3) {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px); }

/* BANNER */
.banner {
  background: url(../img/banner-bg.jpg) no-repeat top center;
  background-size: cover;
  background-position: center; }
  .banner__content {
    padding: 150px 0 150px 100px; }
  .banner__subtitle {
    margin: 0 0 15px;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px; }
  .banner__title {
    margin: 0 0 20px;
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    font-size: 62px;
    line-height: 40px; }
  .banner__slogan {
    margin: 0 0 37px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px; }

/* FEATURES */
.features {
  padding: 133px 0 108px;
  background: url(../img/paw-1.svg) no-repeat top right; }
  .features__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 60px 0 0; }

.feature__column {
  flex: 0 0 31.62393162393162%;
  box-sizing: border-box;
  display: flex; }

.feature__item {
  min-height: 268px;
  padding: 30px 30px 25px;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
  border-radius: 8px;
  margin: 0 0 20px;
  display: flex;
  flex-direction: column; }

.feature__img {
  width: 91px;
  height: 91px;
  margin-bottom: 28px;
  background: #FAC663;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center; }

.feature__title {
  margin: 0 0 8px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 31px; }

.feature__desc {
  margin: 0;
  flex-grow: 1;
  font-size: 16px;
  line-height: 22px; }

/* ROOM */
.room {
  padding: 0 0 60px;
  background: url(../img/fish.svg) no-repeat top left; }
  .room__content {
    max-width: 1030px;
    margin: 0 auto;
    padding: 0 10px; }
  .room__slider-box {
    margin: 63px -15px 0;
    position: relative; }
    .room__slider-box .slick-dots {
      bottom: -65px; }
      .room__slider-box .slick-dots li {
        display: inline-block;
        width: 15px;
        height: 15px;
        box-sizing: border-box;
        border-radius: 50%;
        border: 1px solid #fff;
        background: #E1E1E1; }
      .room__slider-box .slick-dots li.slick-active {
        background: #FAC663; }
    .room__slider-box .slick-arrow {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 10;
      width: 36px;
      height: 36px;
      background-color: #FFFFFF;
      border-radius: 50%;
      box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.25);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0; }
    .room__slider-box .slick-prev {
      background-image: url(../img/arrow-left.svg);
      background-repeat: no-repeat;
      background-position: center; }
    .room__slider-box .slick-next {
      background-image: url(../img/arrow-next.svg);
      background-repeat: no-repeat;
      background-position: center; }
  .room__slider {
    padding: 0 15px; }
  .room__block {
    display: flex;
    align-items: flex-start; }
  .room__img-block {
    flex: 0 0 58.25242718446602%;
    max-width: 600px; }
  .room__content-block {
    margin: 60px 0 0 -70px;
    flex: 0 0 48.54368932038835%;
    box-sizing: border-box;
    padding: 33px 100px 40px;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
    border-radius: 8px; }
  .room__title {
    margin: 0 0 22px;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px; }
  .room__item {
    padding-left: 21px;
    font-size: 16px;
    line-height: 19px;
    position: relative; }
    .room__item:not(:last-child) {
      margin-bottom: 14px; }
    .room__item::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 13px;
      height: 13px;
      background: #FAC663;
      border-radius: 50%; }
  .room__btn {
    margin-top: 25px;
    background-color: #FF7236;
    background-image: url(../img/paw-thumb2.svg);
    box-shadow: 0px 5px 25px rgba(26, 33, 47, 0.1);
    border-radius: 25px;
    color: #fff; }

/* REVIEW */
.review {
  padding: 113px 0 192px;
  background: url(../img/paw-2.svg) no-repeat top right; }
  .review__content {
    margin: 62px 0 0; }
  .review__slider-box .slick-dots {
    bottom: -65px; }
    .review__slider-box .slick-dots li {
      display: inline-block;
      width: 15px;
      height: 15px;
      box-sizing: border-box;
      border-radius: 50%;
      border: 1px solid #fff;
      background: #E1E1E1; }
    .review__slider-box .slick-dots li.slick-active {
      background: #FAC663; }
  .review__slider-box .slick-arrow {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
    width: 36px;
    height: 36px;
    background-color: #FFFFFF;
    border-radius: 50%;
    box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0; }
  .review__slider-box .slick-prev {
    background-image: url(../img/arrow-left.svg);
    background-repeat: no-repeat;
    background-position: center; }
  .review__slider-box .slick-next {
    background-image: url(../img/arrow-next.svg);
    background-repeat: no-repeat;
    background-position: center; }
  .review__column {
    box-sizing: border-box;
    max-width: 470px;
    margin: 0 auto;
    padding: 30px 40px 30px 70px;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
    border-radius: 8px; }
  .review__block:first-child {
    margin: 0 0 15px; }
  .review__block:nth-child(2) {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 17px;
    color: #848484; }
  .review__comment {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    position: relative; }
    .review__comment::before {
      content: '';
      position: absolute;
      top: 0;
      left: -25px;
      width: 21px;
      height: 23px;
      background: url(../img/review-mark.svg) no-repeat top left; }

/* CONTACT */
.contact .section-name {
  text-align: left;
  margin-bottom: 38px; }

.contact__content {
  display: flex; }

.contact__column:first-child {
  padding: 0 0 47px;
  flex: 0 0 41.5%;
  background: #FAC663;
  display: flex;
  justify-content: flex-end; }

.contact__column:nth-child(2) {
  width: 100%; }

.contact__desc {
  width: 265px;
  padding: 60px 105px 0 15px; }

.contact__map {
  height: 100%; }

.contact__item {
  margin: 0 0 26px; }

.contact__title {
  margin: 0 0 10px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700; }

.contact__data {
  margin: 0 0 0;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400; }

.contact__mail, .contact__tel {
  color: #1A212F; }

.contact__soc-wrap {
  display: flex; }

.contact__soc-icon {
  display: block;
  width: 22px;
  height: 22px; }
  .contact__soc-icon:not(:last-child) {
    margin-right: 20px; }

/* FOOTER */
.footer__top {
  border-bottom: 1px solid #EFEFEF; }

.footer__wrapper {
  max-width: 970px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 75px; }

.footer__list {
  display: flex; }

.footer__item {
  margin-right: 26px; }
  .footer__item:last-child {
    margin-right: 0; }

.footer__link {
  display: block;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #1A212F;
  transition: .2s; }
  .footer__link:hover {
    opacity: 0.7; }

.footer__bottom {
  min-height: 50px;
  max-width: 970px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between; }

.footer__copy {
  font-size: 12px;
  line-height: 50px;
  color: #8F8F8F; }

/* FILTER SECTION */
.catalog-filter {
  margin: 10px 0 0 auto;
  display: flex; }

.aside-filter {
  margin: 0 30px 0 0;
  display: none; }
  .aside-filter__button {
    border: none;
    outline: none;
    padding: 9px 20px 9px 46px;
    box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.18);
    border-radius: 25px;
    background: #fff url(../img/filter-icon.svg) no-repeat 20px 10px;
    cursor: pointer;
    font-size: 14px;
    transition: .2s; }
    .aside-filter__button:active {
      transform: translateY(4px); }
    .aside-filter__button:focus {
      -webkit-box-shadow: 0 0 5px #879eb0; }

.select-filter {
  margin: 10px 0 0; }

.custom-select {
  cursor: pointer;
  -webkit-appearance: button;
  -webkit-border-radius: 20px;
  /* Подмешал вебкитовский градиент,
     чтобы не показывать стрелку в других браузерах */
  background: #fff;
  border: transparent;
  padding: 5px 40px 5px 20px;
  box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.18);
  border-radius: 25px;
  height: 35px;
  font-size: 14px;
  line-height: 35px;
  text-overflow: ellipsis;
  white-space: nowrap;
  outline: none;
  color: #000;
  font: -webkit-small-control; }

.custom-select:focus {
  -webkit-box-shadow: 0 0 5px #879eb0; }

.catalog__header {
  margin-top: 60px;
  display: flex; }
  .catalog__header .section-name {
    text-align: left;
    margin-bottom: 48px; }

.catalog-wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 110px;
  position: relative; }

.filter__content {
  width: 210px;
  background: #fff;
  position: relative; }

.filter__close {
  display: none;
  width: 16px;
  height: 16px;
  content: '';
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer; }

.filter__block {
  margin-bottom: 30px; }
  .filter__block-area {
    margin-bottom: 16px; }
  .filter__block-room {
    margin-bottom: 23px; }

.filter__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 17px;
  color: #1A212F; }

.filter__option {
  margin-bottom: 13px;
  padding-left: 30px; }
  .filter__option label {
    position: relative;
    cursor: pointer; }

.filter__input-checkbox + label:before {
  content: '';
  position: absolute;
  top: 0;
  left: -30px;
  width: 20px;
  height: 20px;
  background: url(../img/checked-off.svg) no-repeat center center; }

.filter__input-checkbox:checked + label:before {
  content: '';
  position: absolute;
  top: 0;
  left: -30px;
  width: 20px;
  height: 20px;
  background: url(../img/checked-on.svg) no-repeat center center; }

.filter__input-checkbox:hover + label:before,
.filter__input-checkbox:hover + label:after,
.filter__input:focus + label {
  opacity: 0.6; }

.filter__input:disabled + label {
  color: #a6a6a6;
  opacity: 0.2; }

.filter__button {
  width: 190px;
  display: inline-block;
  padding: 10px 29px;
  margin-bottom: 15px;
  background: none;
  border: 2px solid #FAC663;
  box-sizing: border-box;
  border-radius: 25px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
  transition: .2s; }
  .filter__button:hover {
    background: #FAC663;
    color: #fff; }
  .filter__button:active {
    transform: translateY(2px); }
  .filter__button:first-child {
    display: none;
    background: #FAC663;
    color: #fff; }

.price__filter-wrapper {
  display: flex; }

.price__input {
  display: block;
  box-sizing: border-box;
  padding-left: 5px;
  width: 100px;
  height: 24px;
  border: 1px solid #E1E1E1;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 17px;
  color: #1A212F;
  cursor: pointer; }
  .price__input:not(:last-child) {
    margin-right: 10px; }

.room-catalog {
  flex: 0 0 74.35897435897436%; }
  .room-catalog__content {
    margin: 4px 0 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
  .room-catalog__item {
    flex: 0 0 28%;
    margin-bottom: 30px;
    padding-bottom: 25px;
    background: #fff;
    border: 1px solid #E1E1E1;
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
    border-radius: 6px; }
  .room-catalog__img {
    margin-bottom: 20px; }
    .room-catalog__img img {
      width: 100%; }
  .room-catalog__wrapper {
    padding: 0 19px; }
  .room-catalog__title {
    margin: 0 0 11px;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px; }
  .room-catalog__desc {
    margin: 0 0 9px;
    font-size: 14px;
    line-height: 17px; }
    .room-catalog__desc:last-child {
      margin: -4px 0 0; }
  .room-catalog__thumb {
    margin-left: 10px; }
    .room-catalog__thumb img {
      margin-right: 5px; }
  .room-catalog__price {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-left: 9px; }
  .room-catalog .room__btn {
    margin: 19px 20px 0;
    padding: 12px 70px 14px 35px;
    box-sizing: border-box;
    background-position: 188px; }

/* DISCOUNT */
.discount {
  padding: 70px 0 80px;
  margin: 0 0 140px;
  background: url(../img/discount-bg.jpg) no-repeat center top;
  background-size: cover; }
  .discount__content {
    margin-left: 270px; }
  .discount__title {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px; }
  .discount__bigtitle {
    display: block;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 51px; }
  .discount__slogan {
    margin: 0 0 29px;
    font-size: 16px;
    line-height: 22px; }

/* MODAL */
.modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(255, 254, 253, 0.8);
  backdrop-filter: blur(8px); }
  .modal__content {
    position: relative;
    max-width: 440px;
    padding: 53px 30px 60px;
    margin: 0 auto;
    background: #FFFEFD;
    box-shadow: 0px 0px 25px rgba(153, 153, 153, 0.25);
    border-radius: 10px; }
  .modal__show {
    display: block; }
  .modal__close {
    content: '';
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer; }
  .modal__title {
    margin: 0 0 43px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    text-align: center; }
  .modal input {
    width: 100%;
    padding: 15px 30px;
    border: 1px solid #D7D7D7;
    box-sizing: border-box;
    border-radius: 25px;
    font-size: 16px;
    line-height: 19px;
    color: #1A212F; }
  .modal input[type="date"] {
    width: 200px; }
  .modal input[type="text"]::placeholder,
  .modal input[type="tel"]::placeholder,
  .modal input[type="email"]:placeholder,
  .modal input[type="date"]:placeholder {
    font-size: 16px;
    line-height: 19px;
    color: #1A212F; }
  .modal-button__wrapper {
    margin: 48px 0 0;
    text-align: center; }
  .modal__btn {
    background-color: #FF7236;
    background-image: url(../img/paw-thumb2.svg);
    background-position: 185px;
    color: #fff; }

.form__option {
  margin: 0 0 21px; }
  .form__option span {
    margin-right: 10px;
    font-size: 16px;
    line-height: 19px;
    color: #1A212F; }
