.filter-section {
  width: 214px;
}

.filter-show-btn {
  display: none;
}

.filter-range {
  &__values {
    margin-bottom: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__value {
    width: 94px;
    height: 40px;
    padding-left: 12px;

    background: #ffffff;
    border: 1px solid #dedede;
    border-radius: 4px;

    font-weight: normal;
    font-size: 14px;
    line-height: 40px;
    color: #000000;
  }
}

.range-container {
  position: relative;
}

.filter {
  margin: 0 0 12px;
  list-style: none;
  border: none;
  border-bottom: 1px solid #dedede;
  &__title {
    width: 100%;

    margin-bottom: 14px;
    font-weight: normal;
    font-size: 16px;
    line-height: 170%;
    color: #000000;

    display: flex;
    align-items: center;
    justify-content: space-between;

    cursor: pointer;
    user-select: none;
    position: relative;
  }
  &__title-chevron {
    width: 9px;
    height: 9px;
  }
  &__title-chevron::before {
    content: "";
    position: absolute;
    width: 9px;
    height: 9px;
    transform: rotate(-180deg);
    background: url("../img/filter-chevron.svg") center no-repeat;
  }
  &__bottom {
    padding: 0 0 40px;
    display: none;
  }
  &__option {
    padding-left: 25px;
    &:not(:last-child) {
      padding-bottom: 10px;
    }
  }
  &__input {
    cursor: pointer;
  }
  &__input-checkbox + .filter__label::before {
    content: "";
    position: absolute;
    top: 0;
    left: -25px;
    width: 16px;
    height: 16px;
    background: url("../img/checkbox.svg") center no-repeat;
  }
  &__input-checkbox:checked + .filter__label::before {
    background: none;
  }
  &__input-checkbox:checked + .filter__label::after {
    content: "";
    position: absolute;
    top: 0;
    left: -25px;
    width: 16px;
    height: 16px;
    background: url("../img/checkbox-check.svg") center no-repeat;
  }
  &__input-checkbox:checked + .filter__label {
    color: #000;
  }
  &__input-checkbox:disabled + label {
    opacity: 0.5;
  }
  &__label {
    font-weight: normal;
    font-size: 13px;
    line-height: 150%;
    color: #676f77;

    cursor: pointer;
    user-select: none;
    position: relative;
  }
  &--open {
    .filter__title-chevron::before {
      transform: rotate(0deg);
    }
    .filter__bottom {
      display: block;
    }
  }
}

.filter-range {
  width: 200px;
}

.slider-track {
  width: 100%;
  height: 1px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background: #FFFFFF;
  border: 1px solid #DEDEDE;
}

.filter-range {
  &__input[type="range"] {
    appearance: none;
    width: 100%;
    outline: none;
    position: absolute;
    margin: auto;
    top: 3px;
    bottom: 0;
    background-color: transparent;
    pointer-events: none;
  }
}

.filter-range__input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 5px;
}

.filter-range__input[type="range"]::-moz-range-track {
  -moz-appearance: none;
  height: 5px;
}

.filter-range__input[type="range"]::-ms-track {
  appearance: none;
  height: 5px;
}

.filter-range__input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 18px;
  width: 18px;
  background: #F77D0C; 
  z-index: 20;
  cursor: pointer;
  margin-top: -8px;
  pointer-events: auto;
  border-radius: 50%;
}

.filter-range__input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 18px;
  width: 18px;
  cursor: pointer;
  border-radius: 50%;
  background: #F77D0C;
  pointer-events: auto;
}

.filter-range__input[type="range"]::-ms-thumb {
  appearance: none;
  height: 18px;
  width: 18px;
  cursor: pointer;
  border-radius: 50%;
  background: #F77D0C;
  pointer-events: auto;
}

.filter-more {
  font-family: "Intro Regular", Arial, sans-serif;
  font-weight: normal;
  font-size: 11px;
  line-height: 160%;
  color: #000000;
}

.filter-reset {
  margin-top: 30px;
  padding-right: 20px;

  background: url('../img/filter-reset.svg') center right no-repeat;

  font-weight: 400;
  font-size: 13px;
  line-height: 150%;
  color: #676f77;
}
