.main-footer {
  padding: 75px 0 45px;
  background: #323232;
}

.footer-top {
  padding-bottom: 60px;
  border-bottom: 1px solid #717171;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer-block {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  &__title {
    margin-bottom: 15px;
    font-family: "Intro Regular", Arial, sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 125%;
    color: #ffffff;
  }
  &__link {
    font-weight: normal;
    font-size: 14px;
    line-height: 200%;
    color: #ffffff;
    &:hover {
      text-decoration: underline;
    }
  }
}

.footer-form {
  label {
    font-weight: normal;
    font-size: 13px;
    line-height: 150%;
    color: #676f77;
  }
  &__option {
    margin-top: 3px;
    display: flex;
    align-items: flex-start;
  }
  &__input {
    width: 244px;
    height: 48px;
    padding: 0 14px;

    background: #565656;
    border: 1px solid #7d7f81;
    border-radius: 4px;

    font-size: 16px;
    line-height: 48px;
    color: #ffffff;
    &::placeholder {
      color: #ffffff;
    }
  }
  &__btn {
    width: 72px;
    height: 48px;
    margin-left: 8px;

    background: linear-gradient(90deg, #ee6409 0%, #f77d0c 100%);
    border-radius: 4px;
  }
}

.footer-bottom {
  margin-top: 40px;
  display: flex;
  align-items: center;
}

.footer-copy {
  margin-right: 97px;
  font-weight: normal;
  font-size: 13px;
  line-height: 150%;
  color: #ffffff;
}

.footer-phone {
  margin-right: 67px;
  font-family: "Intro Regular", Arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 125%;
  color: #ffffff;
  &:hover {
    color: #f77d0c;
  }
}

.footer-confidentiality {
  font-size: 12px;
  line-height: 120%;
  color: #b6bec6;
}

.footer-social {
  margin-right: auto;
  display: flex;
  align-items: flex-start;
  &__link {
    display: block;
    width: 32px;
    height: 32px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    transition: .2s;
    &:hover {
      border: 1px solid #f77d0c;
    }
  }
  &__link:not(:last-child) {
    margin-right: 16px;
  }
  &__link--tg {
    background-image: url('../img/footer-tg.svg');
  }
  &__link--fb {
    background-image: url('../img/footer-fb.svg');
  }
  &__link--insta {
    background-image: url('../img/footer-insta.svg');
  }
  &__link--vk {
    background-image: url('../img/footer-vk.svg');
  }
}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 1140px) {

}

@media screen and (max-width: 1024px) {

  .footer-top {
    flex-wrap: wrap;
  }

  .footer-block {
    &__form-block {
      width: 100%;
      margin-top: 30px;
    }
  }

  .footer-bottom {
    flex-wrap: wrap;
  }

  .footer-confidentiality {
    width: 100%;
    margin-top: 30px;
  }


}

@media screen and (max-width: 768px) {

  .footer-copy {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
  
  .footer-phone {
    margin-right: auto;
  }

  .footer-social {
    margin-right: 0;
  }

}

@media screen and (max-width: 480px) {

  .main-footer {
    padding: 50px 0;
  }

  .footer-top {
    padding-bottom: 30px;
  }

  .footer-bottom {
    margin-top: 30px;
  }

  .footer-block {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  .footer-form {
    &__input {
      width: 80%;
    }
  }

  .footer-social {
    width: 100%;
    margin-top: 30px;
  }

}