.main-header {

  background: #FFFFFF;
  box-shadow: 0px 4px 72px rgba(71, 89, 134, 0.12);
}

.top-nav {
  padding: 4px 0;
  background-color: #3B3B3B;
  &__container {
    max-width: 1160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.top-list {
  display: flex;
  align-items: flex-start;
  &__item {
    &:not(:last-child) {
      margin-right: 40px;
    }
  }
  &__link {
    font-weight: 400;
    font-size: 13px;
    line-height: 150%;
    color: #DADADA;
  }
}

.header-phone {
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  color: #FFFFFF;
  &:hover {
    text-decoration: underline;
  }
}

.middle-nav {
  padding: 12px 0;
  border-bottom: 1px solid #B6BEC6;
  &__container {
    max-width: 1160px;
    display: flex;
    align-items: center;
  }
}

.header-logo {
  margin-right: 75px;
}

.header-search {
  width: 455px;
  margin-right: 120px;
  position: relative;
  &__input {
    width: 100%;
    height: 40px;
    padding: 0 40px 0 15px;
    background: #F3F3F3;
    border: none;
    border-radius: 4px;
  }
  &__btn {
    position: absolute;
    top: 9px;
    right: 16px;
    width: 20px;
    height: 20px;
    background: url('../img/search-loupe.svg') center no-repeat;
  }

  font-size: 13px;
  line-height: 40px;
  color: #B9B9B9;
}

.user-nav {
  margin-right: auto;
  display: flex;
  align-items: flex-start;
  &__item {
    height: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    &:not(:last-child) {
      margin-right: 22px;
    }
  }
  &__title {
    margin-top: auto;
    font-size: 11px;
    line-height: 150%;
    color: #676F77;
  }
}

.cart-block {
  min-width: 120px;
  height: 40px;
  margin-left: 20px;
  padding-left: 47px;
  border: 1px solid #B6BEC6;
  border-radius: 4px;

  background: url('../img/header-cart.svg') center left 19px no-repeat;

  font-size: 13px;
  line-height: 40px;
  color: #000000;
}

.nav {
  padding: 14px 0 12px;
  position: relative;
}

.site-nav {
  max-width: 1060px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__link {
    font-weight: normal;
    font-size: 14px;
    text-transform: uppercase;
    color: #000000;
    transition: .2s;
    &:hover {
      color: #E56E00;
    }
  }
}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 1140px) {

}

@media screen and (max-width: 1024px) {

  .middle-nav {
    padding-bottom: 20px;
    &__container {
      flex-wrap: wrap;
    }
  }

  .header-logo {
    margin-right: 200px;
  }

  .user-nav {
    order: 1;
    margin-right: 0;
    margin-left: auto;
  }

  .header-search {
    order: 2;
    margin-top: 20px;
  }

  .cart-block {
    order: 3;
    margin-top: 20px;
    margin-left: auto;
  }

}

@media screen and (max-width: 768px) {

  .top-nav {
    display: none;
  }

  .nav {
    padding: 15px 0;

    display: flex;
    flex-direction: column;
    transition: .2s;
  }

  .menu-icon-wrapper {
    order: -1;
  }

  .site-nav {
    display: none;
    &--show {
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }
    &__item {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  .menu-icon-wrapper {
    display: flex;
    margin-left: auto;
    margin-right: 15px;
  }

  .header-logo {
    margin-right: 0;
  }

  .user-nav {
    order: 1;
  }

  .cart-block {
    order: 2;
    margin-top: 0;
  }

  .header-search {
    order: 3;
  }

}

@media screen and (max-width: 480px) {

  .middle-nav {
    padding-bottom: 0;
    &__container {
      align-items: flex-start;
    }
  }

  .header-logo {
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
  }

  .header-search {
    width: 100%;
    margin: 15px 0;
  }

  .user-nav {
    width: 100%;
    margin: 10px auto;
  }


}