.product-name {
  margin-bottom: 25px;
  display: flex;
  align-items: flex-end;
  &__title {
    margin-right: 30px;
    font-family: "Intro Bold", Arial, sans-serif;
    font-weight: bold;
    font-size: 32px;
    line-height: 130%;
    color: #000000;
  }
  &__value {
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 13px;
    line-height: 150%;
    color: #676f77;
  }
}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 1140px) {

}

@media screen and (max-width: 960px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 480px) {

  .product-name {
    flex-direction: column;
    align-items: flex-start;
  }

}