@font-face {
    font-family: 'Gilroy';
    src:
        url('../fonts/gilroylight.woff2') format('woff2'),
        url('../fonts/gilroylight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src:
        url('../fonts/gilroyextrabold.woff2') format('woff2'),
        url('../fonts/gilroyextrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src:
        url('../fonts/opensans.woff2') format('woff2'),
        url('../fonts/opensans.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src:
        url('../fonts/opensanslight.woff2') format('woff2'),
        url('../fonts/opensanslight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    font-style: normal;
    color: #000;
    letter-spacing: 0.01em;
    background-color: #fff;
}

.arrow-left {
    width: 55px;
    height: 55px;
    border: 2px solid #000;
    border-radius: 10px;
    content: '';
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 1160px;
    padding: 0 20px;
    margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button {
    position: relative;
    z-index: 10;
    display: inline-block;
    padding: 8px 40px;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    vertical-align: top;
    overflow: hidden;
    color: #000;
    cursor: pointer;
    letter-spacing: 0.2em;
}

.button::after {
    content: "";
    width: 100%;
    height: 8px;
    background-color: #f0c52e;
    position: absolute;
    top: 16px;
    left: 0;
    z-index: -1;
}

.button:hover::after {
    top: 0;
    height: 100%;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.button:active {
    opacity: 0.7;
}

/* HEADER */
.main-header {
    width: 1038px;
    min-height: 300px;
    margin: 40px auto 0;
    padding: 0 60px;
    background-color: #f7e296;
    border: 1px solid transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.header-logo {
    width: 175px;
    margin: -25px 0 12px 0;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 48px;
    line-height: 48px;
    font-weight: 800;
    text-transform: uppercase;
}

.header-logo:hover {
    opacity: 0.6;
}

.header-logo:active {
    opacity: 0.3;
}

.main-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; 
    margin-bottom: 25px;
}

.search-form {
    width: 440px;
    min-height: 50px;
    font-size: 0;
}

.search-form-input {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 350px;
    min-height: 50px;
    font-size: 15px;
    line-height: 30px;
    border: none;
    outline: none;
    border-bottom: 2px solid transparent;
    padding: 7px 25px 7px 40px;
    background: url(../img/svg-device/search.svg) 2px center no-repeat ;
}

.search-form .search-form-input:hover {
    opacity: 0.6;
}

.search-form-button {
    display: none;
    vertical-align: top;
    min-width: 45px;
    min-height: 50px;
    font-size: 15px;
    line-height: 30px;
    padding: 6px 20px;
    border: 2px solid #000;
    background: none;
    cursor: pointer;
}

.search-form:active .search-form-input,
.search-form .search-form-input:focus {
    border-bottom: 2px solid #000;
    opacity: 1;
    outline: none;
}

.search-form .search-form-input:focus ~ input[type="submit"],
.search-form .search-form-input:focus ~ input[type="submit"]:focus {
    display: inline-block;
    vertical-align: top;
}

.search-form-button:hover {
    display: inline-block;
    background: #000;
    color: #fff;
}

.search-form-button:active {
    color: rgba(255, 255, 255, 0.3);
}

.user-navigation,
.site-navigation,
.catalog-sub-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.user-navigation {
    width: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.user-navigation li {
    padding: 7px 0;
}

.user-navigation a {
    display: block;
    padding-left: 27px;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #000;
}

.user-navigation .login-link {
    margin-right: 170px;
    background: url(../img/svg-device/user.svg) left center no-repeat;
}

.user-navigation .compare-link {
    background: url(../img/svg-device/compare.svg) 8px center no-repeat;
}

.user-navigation .basket-link {
    background: url(../img/svg-device/cart.svg) 8px center no-repeat;
}

.main-header .user-name {
    background: url(../img/svg-device/user.svg) left center no-repeat;
}

.user-navigation .login-link:hover,
.user-navigation .compare-link:hover,
.user-navigation .basket-link:hover,
.main-header .user-name:hover,
.site-navigation a:hover {
    opacity: 0.6;
}

.user-navigation .login-link:active,
.user-navigation .compare-link:active,
.user-navigation .basket-link:active,
.main-header .user-name:active,
.site-navigation a:active {
    opacity: 0.3;
}

.site-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.site-navigation li {
    margin-right: 35px;
}
.site-navigation li:last-child {
    margin: 0 0 0 auto;
}

.site-navigation a {
    display: block;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.site-navigation .catalog-menu {
    position: relative;
    margin-right: 295px;
}

.catalog-menu:hover .catalog-sub-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.catalog-menu a {
    padding-right: 25px;
    background: url(../img/svg-device/plus.svg) right center no-repeat;
}

.catalog-sub-menu {
    position: absolute;
    display: none;
    width: 1100px;
    min-height: 144px;
    padding-top: 21px;
    left: -61px;
    background: #f7e296;
    padding-left: 60px;
    z-index: 99;
}

.catalog-sub-menu li {
    margin-right: 59px;
}

.catalog-sub-menu li:last-child {
    margin-left: 0;
}

.catalog-sub-menu a {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 36px;
    font-weight: 300;
    text-transform: none;
    background: none; /* Унаследованы от родителя */
    padding-right: 0; /* Унаследованы от родителя */
    letter-spacing: 0.01em; /* Унаследованы от родителя */
}

/* Section Slider */
.slider-list,
.slider-descr ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slider-section {
    position: relative;
    top: -115px;
    width: 1040px;
    min-height: 495px;
    margin: 0 auto;
    margin-bottom: -17px;
}

.slider-controls label {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 15px;
  vertical-align: top;
  background-image: url(../img/svg-device/slider-button-empty.svg);
  background-size: 12px;
  cursor: pointer;
}

.slider-controls {
  position: absolute;
  right: 10px;
  bottom: 143px;
  z-index: 20;
}

#product-1:checked ~ .slider-list #slide1,
#product-2:checked ~ .slider-list #slide2,
#product-3:checked ~ .slider-list #slide3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#product-1:checked ~ .slider-controls label[for="product-1"],
#product-2:checked ~ .slider-controls label[for="product-2"],
#product-3:checked ~ .slider-controls label[for="product-3"] {
  background-image: url(../img/svg-device/slider-button.svg);
}

.slider-item {
    position: relative;
    display: none;
}

.slider-image {
    width: 500px;
    min-height: 480px;
}

.selfie-stick {
    margin-left: 30px;
}

.fitness-bracelet {
    margin-left: 55px;
}

.quadrupter-image {
    padding-top: 67px;
    margin-left: -27px;
}

.slider-descr {
    width: 500px;
    padding-top: 80px;
}

.slider-descr h2 {
    position: relative;
    margin: 0 0 20px 0;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 47px;
    line-height: 56px;
    font-weight: 800;
    color: #000;
    z-index: 10;
    letter-spacing: 0;
}

.slider-descr h2::before {
    content: "";
    position: absolute;
    top: -40px;
    left: 0;
    width: 100px;
    height: 7px;
    background-color: #fff;
}

.slider-item::before {
    position: absolute;
    top: -12px;
    right: -12px;
    font-size: 180px;
    line-height: 180px;
    font-family: "Gilroy", Arial, sans-serif;
    color: #fff;
    z-index: 5;
}

.slider-item:nth-child(1)::before {
    content: "01";
}

.slider-item:nth-child(2)::before {
    content: "02";
}

.slider-item:nth-child(3)::before {
    content: "03";
}

.slider-descr .product-descr {
    width: 490px;
    margin: 0 0 40px 0;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #464646;
}

.slider-descr ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 50px;
}

.slider-descr li {
    margin-right: 80px;
}

.slider-descr li:nth-child(3) {
    margin-right: 0;
}

.slider-descr .slider-feature-value {
    margin: 0 0 10px 0;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 36px;
    line-height: 48px;
    font-weight: 300;
    color: #000;
}

.slider-descr .slider-feature-info {
    margin: 0;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    color: #464646;
}

/* Section Popular */
.popular {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 240px;
    margin-bottom: 80px;
}

.popular-item {
    width: 160px;
    min-height: 220px;
}

.popular-img-block {
    width: 160px;
    min-height: 160px;
    margin-bottom: 33px;
    background-color: #f7e296;
}

.popular-item:nth-child(1) .popular-img-block {
    background-image: url(../img/svg-device/popular-1.svg);
    background-position: center center;
    background-repeat: no-repeat;
}

.popular-item:nth-child(2) .popular-img-block {
    background-image: url(../img/svg-device/popular-2.svg);
    background-position: bottom center;
    background-repeat: no-repeat;
}

.popular-item:nth-child(3) .popular-img-block {
    background-image: url(../img/svg-device/popular-3.svg);
    background-position: center center;
    background-repeat: no-repeat;
}

.popular-item:nth-child(4) .popular-img-block {
    background-image: url(../img/svg-device/popular-4.svg);
    background-position: center center;
    background-repeat: no-repeat;
}

.popular-item:nth-child(5) .popular-img-block {
    background-image: url(../img/svg-device/popular-5.svg);
    background-position: center center;
    background-repeat: no-repeat;
}

.popular-item:nth-child(6) .popular-img-block {
    background-image: url(../img/svg-device/popular-6.svg);
    background-position: center center;
    background-repeat: no-repeat;
}

.popular-item:nth-child(6):active .popular-img-block {
    opacity: 0.3;
}

.popular-item:hover .popular-img-block {
    background-color: #f0c52e;
}

.popular-item h3 {
    margin: 0;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
}

.popular-item:active .popular-img-block {
    
}

.popular-item:active h3 {
    opacity: 0.3;
}

/* Section Services */
.services {
    min-height: 390px;
    margin-bottom: 30px;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(75%, #e5e5e5), color-stop(25%, #fff));
    background: -webkit-linear-gradient(bottom, #e5e5e5 75%, #fff 25%);
    background: -o-linear-gradient(bottom, #e5e5e5 75%, #fff 25%);
    background: linear-gradient(to top, #e5e5e5 75%, #fff 25%);
}

.services .container {
    width: 1160px;
    padding: 0 20px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.service-control {
    width: 277px;
    position: relative;
    padding-top: 80px;
}

.service-button {
    width: 110px;
    padding: 8px 25px;
    margin-bottom: 25px;
}

.service-control::after {
    content: "";
    position: absolute;
    top: 0;
    right: -7px;
    width: 7px;
    height: 320px;
    background: #000;
}

.service-button:active {
    opacity: 1; /* Унаследована от родителя */
}

.service-inner {
    width: 760px;
    margin: 0;
    padding: 75px 0 0 0;
    list-style: none;
}

.service-item {
    position: relative;
    display: none;
    min-height: 210px;
}

.service-item::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 200px;
}

.service-item:nth-child(1)::before {
    top: 11px;
    right: 2px;
    background-image: url(../img/svg-device/delivery.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.service-item:nth-child(2)::before {
    top: -13px;
    right: 17px;
    background-image: url(../img/svg-device/warranty.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.service-item:nth-child(3)::before {
    top: 13px;
    right: 26px;
    background-image: url(../img/svg-device/credit.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
}

#services-btn-1:checked ~ .service-inner #service1,
#services-btn-2:checked ~ .service-inner #service2,
#services-btn-3:checked ~ .service-inner #service3 {
    display: block;
}

#services-btn-1:checked ~ .service-control label[for="services-btn-1"],
#services-btn-2:checked ~ .service-control label[for="services-btn-2"],
#services-btn-3:checked ~ .service-control label[for="services-btn-3"] {
    color: #f7e184;
    background: #000;
    padding-right: 145px;
}

#services-btn-1:checked ~ .service-control label[for="services-btn-1"]:after,
#services-btn-2:checked ~ .service-control label[for="services-btn-2"]:after,
#services-btn-3:checked ~ .service-control label[for="services-btn-3"]:after {
    background: none;
}

.services .service-title {
    margin: 0 0 30px 0;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 47px;
    line-height: 48px;
    font-weight: 800;
    color: #000;
}

.service-item p {
    margin: 0;
    width: 440px;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #464646;
}

/* Section Logotypes */
.logotypes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    min-height: 147px;
    padding-top: 63px;
}

.logotypes a {
    display: block;
    width: 260px;
    height: 100px;
    background: url(../img/logo-sprite.png) 0 0 no-repeat;
}

.logotypes a:nth-of-type(2) {
    background: url(../img/logo-sprite.png) 0 -220px no-repeat;
}

.logotypes a:nth-of-type(3) {
    background: url(../img/logo-sprite.png) 0 -420px no-repeat;
}

.logotypes a:nth-of-type(4) {
    background: url(../img/logo-sprite.png) 0 -620px no-repeat;
}

.logotypes a:hover:nth-of-type(1) {
    background: url(../img/logo-sprite.png) 0 -100px no-repeat;
}

.logotypes a:hover:nth-of-type(2) {
    background: url(../img/logo-sprite.png) 0 -320px no-repeat;
}

.logotypes a:hover:nth-of-type(3) {
    background: url(../img/logo-sprite.png) 0 -520px no-repeat;
}

.logotypes a:hover:nth-of-type(4) {
    background: url(../img/logo-sprite.png) 0 -720px no-repeat;
}

/* Section About Us */
.main-about-us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 550px;
    margin-bottom: 50px;
    padding-top: 100px;
}

.main-about-us h2 {
    position: relative;
    margin: 0 0 40px 0;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 47px;
    line-height: 48px;
    font-weight: 800;
    color: #000;
}

.main-about-us h2::before {
    content: "";
    position: absolute;
    top: -55px;
    left: 0;
    width: 80px;
    height: 7px;
    background-color: #000;
}

.main-about-us p {
    margin: 0 0 30px 0;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #464646;
}

.info-nav {
    margin: 65px 0 55px 0;
    padding: 0;
    list-style: none;
}

.info-nav li {
    position: relative;
    padding-left: 35px;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    line-height: 40px;
    font-weight: 800;
    color: #000;
}

.info-nav li:before {
    content: "";
    position: absolute;
    top: 16px;
    left: 0;
    width: 4px;
    height: 4px;
    border: 2px solid #e5e5e5;
    border-radius: 5px;
}

.section-info {
    width: 490px;
}

.about-us-description {
    width: 485px;
}

.section-contact {
    width: 560px;
}

.map-block {
    display: block;
    width: 560px;
    height: 222px;
    padding-top: 10px;
    margin-bottom: 70px;
    cursor: pointer;
}

/* Footer */
.main-footer {
    min-height: 320px;
    padding: 60px 0;
    background-color: #464646;
    color: #fff;
}

.main-footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
}

.footer-top,
.footer-middle,
.footer-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer-top {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.footer-top .footer-logo {
    padding: 0;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 48px;
    line-height: 48px;
    font-weight: 800;
    color: #ffc600;
    text-transform: uppercase;
    opacity: 1;
}

.footer-top .footer-logo:hover {
    opacity: 0.6;
}

.footer-top .footer-logo:active {
    opacity: 0.3;
}

.footer-top ul {
    width: 500px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.footer-top a {
    display: block;
    padding-left: 27px;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 36px;
    font-weight: 300;
    color: #fff;
    opacity: 0.7;
}

.footer-top a:hover {
    opacity: 1;
}

.footer-top a:active {
    opacity: 0.3;
}

.footer-top .login-link {
    background: url(../img/footer-user.png) left center no-repeat;
}

.footer-top .compare-link {
    background: url(../img/footer-compare.png) 8px center no-repeat;
    margin-left: 37px;
}

.footer-top .basket-link {
    background: url(../img/footer-cart.png) 8px center no-repeat;
    margin-left: 37px;
}

.footer-middle {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 60px;
}

.footer-middle b {
    margin-top: 23px;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #fff;
    letter-spacing: 0;
}

.footer-middle ul {
    width: 460px;
    margin: 29px 0 0 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}

.footer-middle li {
    margin-right: 30px;
}

.footer-middle li:last-child {
    margin-right: 0;
}

.footer-middle a {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.2em;
}

.footer-middle a:hover {
    opacity: 0.6;
}

.footer-middle a:active {
    opacity: 0.3;
}

.footer-bottom {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.footer-bottom::after {
    content: "";
    position: absolute;
    top: 17px;
    left: 0;
    width: 80px;
    height: 7px;
    background: #ffc600;
}

.footer-social {
    width: 160px;
    margin-right: 140px;
    padding: 5px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

.footer-social .social-button {
    display: block;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    background-position: 50% 50%;
}

.social-fb {
    background-image: url(../img/svg-device/fb.svg);
}

.social-insta {
    background-image: url(../img/svg-device/instagram.svg);
}

.social-tw {
    background-image: url(../img/svg-device/twitter.svg);
}

.social-fb:hover,
.social-insta:hover,
.social-tw:hover {
    opacity: 0.6;
}

.social-fb:active,
.social-insta:active,
.social-tw:active {
    opacity: 0.1;
}

.academy-logo {
    width: 360px;
    text-align: right;
}

.academy-logo a {
    opacity: 1;
}

.academy-logo a:hover {
    opacity: 0.6;
}

.academy-logo a:active {
    opacity: 0.3;
}

.modal {
    position: fixed;
    z-index: 99;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.modal-map {
    display: none;
    top: 35px;
    left: 50%;
    width: 960px;
    min-height: 560px;
    margin-left: -480px;
    background: #fff;
}

.modal-map iframe {
  position: relative;
  z-index: 2;
  border: none;
}

.modal-map p {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
}

.modal-write-us {
    display: none;
    top: 35px;
    left: 50%;
    width: 760px;
    padding: 90px 100px 60px;
    margin-left: -480px;
    background: #fff;
}

.wrapper-equalizer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 33px;
}

.modal-write-us p {
    margin: 0;
}

.modal-write-us label {
    display: block;
    margin-bottom: 5px;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
}

.modal-write-us input[type="text"],
.modal-write-us input[type="email"],
.modal-write-us textarea {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 360px;
    padding: 16px 20px;
    background: rgba(229, 229, 229, 0.5);
    border: none;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    font-family: "OpenSans", Arial, sans-serif;
    outline: none;
    color: rgba(70, 70, 70, 0.4);
}

.modal-write-us input[type="text"]:hover,
.modal-write-us input[type="email"]:hover {
    background: rgba(229, 229, 229, 0.8);
}

.modal-write-us input[type="text"]:focus,
.modal-write-us input[type="email"]:focus,
.modal-write-us textarea:focus {
    padding: 13px 17px;
    background: #fff;
    border: 3px solid #f0c52e;
    color: rgba(70, 70, 70, 1);
}

.modal-write-us input[type="email"]:invalid {
    background: rgba(237, 181, 181, 0.5);
}

.modal-write-us textarea {
    width: 100%;
    margin-bottom: 30px;
}

.modal-button {
    background: none;
    border: none;
}

.modal-close {
    position: absolute;
    z-index: 99;
    top: 22px;
    right: 22px;
    width: 55px;
    height: 55px;
    cursor: pointer;
    border: none;
    opacity: 0.5;
    background: url(../img/svg-device/modal-close.svg) center center no-repeat;
}

.modal-close:hover {
    opacity: 1;
}

.modal-close:active {
    opacity: 0.3;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.modal-show {
    display: block;
    -webkit-animation: bounce 0.6s;
            animation: bounce 0.6s;
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.modal-error {
    -webkit-animation: shake 0.6s;
            animation: shake 0.6s;
}

/* сatalog.html */
.inner-page .main-header {
    min-height: 185px;
}

.inner-page .user-navigation {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}

.inner-page .user-name {
    margin-right: 20px;
}

.inner-page .sign-out {
    opacity: 0.3;
    padding-left: 0;
    margin-right: 56px;
}

.inner-page .compare-link {
    margin: 0 35px 0 0;
}

.inner-page .basket-link {
    margin-left: 0;
}

.page-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.page-title-wrapper {
    width: 1160px;
    margin: 0 auto;
}

.page-title {
    margin: 35px 0 25px 60px;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 47px;
    line-height: 48px;
    font-weight: 800;
    color: #000;
}

.breadcrumbs {
    margin: 0 0 45px 60px;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
}

.breadcrumbs li {
    position: relative;
    padding-right: 33px;
}

.breadcrumbs li::after {
    content: "";
    position: absolute;
    top: 10px;
    right: 13px;
    width: 4px;
    height: 7px;
    background: url(../img/svg-device/nav-arrow.svg) 85% center no-repeat;
}

.breadcrumbs li:last-child::after {
    background: none;
}

.breadcrumbs a,
.breadcrumbs-current {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.03em;
    opacity: 0.3;
}

.breadcrumbs a:hover {
    opacity: 0.6;
}
.breadcrumbs a:active {
    opacity: 0.1;
}

.page-content {
    width: 1160px; /* Эти стили заданы для того чтобы, центрировать блоки в IE11 */
    margin: 0 auto; /* Эти стили заданы для того чтобы, центрировать блоки в IE11 */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.page-content h3 {
    margin: 0;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 800;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.filters-section {
    position: relative;
    width: 328px;
    background-color: #efefef;
    z-index: 1;
}

.filters-section:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1000px;
    min-height: 1330px;
    background-color: #efefef
}

.filters-section h3 {
    position: relative;
    padding: 23px 0 23px 60px;
    margin-bottom: 70px;
    background-color: #dbdbdb;
    letter-spacing: 0.2em;
    z-index: 1;
}

.filters-section h3:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background-color: #dbdbdb;
    width: 1000px;
    height: 70px;
    z-index: -1;
}

.catalog-filter {
    padding-left: 60px;
}

.catalog-filter fieldset {
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
}

.catalog-filter fieldset:first-of-type {
    margin-bottom: 4px;
}

.catalog-filter fieldset:last-of-type {
    margin: 30px 0;
}

.catalog-filter legend {
    position: relative;
    margin-bottom: 20px;
    padding-top: 11px;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    color: #000;
}

.filters-section legend::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 2px;
    background: #000;
}

.range-filter {
  width: 200px;
  height: 80px;
}

.range-controls {
  position: relative;
  padding-top: 14px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 60%;
  height: 2px;
  background: #91c92f;
}

.range-controls .toggle {
  position: absolute;
  top: 4px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
          box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls {
  margin-top: 10px;
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  color: #000;
  opacity: 0.3;
  vertical-align: top;
  letter-spacing: 0;
}

.price-controls .min-price {
    margin-right: 12px;
}

.price-controls input {
  width: 60px;
  border: none;
  background: none;
  line-height: inherit;
}

.filter-option {
    padding-left: 36px;
}

.filter-option label {
    position: relative;
    display: block;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 40px;
    font-weight: 400;
    color: #000;
}

.filter-input-checkbox + label::before {
    content: '';
    position: absolute;
    top: 2px;
    left: -43px;
    width: 32px;
    height: 32px;
    background: url(../img/svg-device/checkbox-off.svg) center center no-repeat;
}

.filter-input-checkbox:checked + label::after {
    content: '';
    position: absolute;
    top: 2px;
    left: -41px;
    width: 32px;
    height: 32px;
    background: url(../img/svg-device/checkbox-on.svg) center center no-repeat;
}

.filter-input-checkbox:checked + label::before {
    background: none;
}

.filter-input-checkbox:hover + label:before,
.filter-input-checkbox:hover + label:after {
    opacity: 0.6;
}

.filter-input:focus + label {
    opacity: 0.6;
}

.filter-input:disabled + label {
    color: #a6a6a6;
    opacity: 0.2;
}

.filter-input-radio + label::before {
    content: '';
    position: absolute;
    top: 2px;
    left: -43px;
    width: 32px;
    height: 32px;
    background: url(../img/svg-device/radio-off.svg) center center no-repeat;
}

.filter-input-radio:checked + label::after {
    content: '';
    position: absolute;
    top: 2px;
    left: -43px;
    width: 32px;
    height: 32px;
    background: url(../img/svg-device/radio-on.svg) center center no-repeat;
}

.filter-input-radio:hover + label {
    opacity: 0.6;
}

.filter-input-radio:active + label {
    opacity: 1;
}

.filter-input-radio:disabled + label {
    color: #a6a6a6;
    opacity: 0.2;
}

.filter-button {
    background: none;
    border: none;
}

.catalog-section {
    width: 760px;
}

.sort-block {
    position: relative;
    background-color: #ebebeb;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 23px 0;
    z-index: 1;
}

.sort-block:before {
    content: "";
    position: absolute;
    top: 0;
    left: -72px;
    width: 1200px;
    height: 70px;
    background-color: #ebebeb;
    z-index: -1;
}

.sort-block h3 {
    margin-right: 53px;
    letter-spacing: 0.22em;
}

.sort-block ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
}

.sort-block li {
    margin-right: 29px;
}

.sort-block li:last-child {
    margin-right: 0;
}

.sort-block .sort-current,
.sort-block a {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
    color: #000;
    opacity: 0.3;
}

.sort-block a:hover {
    opacity: 0.6;
}

.sort-block .sort-current,
.sort-block a:active {
    opacity: 1;
}

.sort-arrows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: auto;
    padding-top: 5px;
}

.arrow-up {
    background: url(../img/svg-device/icon-up-dir.svg) center center no-repeat;
}

.arrow-down {
    background: url(../img/svg-device/icon-down-dir.svg) center center no-repeat;
}

.sort-arrows .arrow-up,
.sort-arrows .arrow-down {
    width: 11px;
    height: 12px;
    opacity: 0.2;
    margin-right: 0;
    margin-left: 20px;
}

.sort-arrows .arrow-current {
    opacity: 1;
}

.arrow-up:hover,
.arrow-down:hover {
    opacity: 0.4;
}

.arrow-up:active,
.arrow-down:active {
    opacity: 1;
}

.catalog-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 70px;
}

.product-name {
    width: 260px;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    color: #000;
    letter-spacing: 0.01em;
}

.product-price {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
}

.catalog-item {
    position: relative;
    width: 360px;
    min-height: 460px;
    margin: 0 40px 46px 0;
}
.catalog-item-new {
    position: relative;
}

.catalog-item-new::after {
    content: "new";
    position: absolute;
    top: 30px;
    right: 30px;
    width: 56px;
    height: 56px;
    border: 2px solid  rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    font-size: 14px;
    line-height: 24px;
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 800;
    color: rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.catalog-item:nth-child(2n) {
    margin-right: 0;
}

.catalog-item-img {
    width: 360px;
    height: 380px;
    margin-bottom: 32px;
}

.catalog-item-img:hover .catalog-item-hover {
    display: block;
}

.catalog-item-hover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 360px;
    height: 380px;
    cursor: pointer;
    background: rgba(238, 238, 238, 0.7);
    z-index: 2;
}

.catalog-item-hover a {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 36px;
    font-weight: 300;
    color: #000;
    opacity: 0.5;
}

.catalog-item-hover a:hover {
    opacity: 1;
}

.catalog-item-hover a:active {
    opacity: 0.2;
}

.catalog-item-button {
    display: block;
    margin: 170px auto 0;
    border: none;
    background: none;
    outline: none;
}

.catalog-item-descr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.catalog-pagination {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    min-height: 70px;
    margin: -10px 0 75px 0;
    background-color: #ebebeb;
    text-align: center;
}

.catalog-pagination a {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 800;
    color: #000;
}

.pagination-item {
    opacity: 0.3;
    margin: 0 15px;
}

.pagination-item:hover {
    opacity: 0.6;
}

.pagination-item:active {
    opacity: 1;
}

.pagination-item-current {
    color: #000;
    opacity: 1;
}

.pagination-prev,
.pagination-next {
    position: absolute;
    top: 0;
    width: 125px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    padding: 23px 0;
}

.pagination-prev {
    left: 0;
}
.pagination-next {
    right: 0;
}

.pagination-prev:hover,
.pagination-next:hover {
    background: #d9d9d9
}

.pagination-prev:active,
.pagination-next:active {
    color: rgba(0, 0, 0, 0.3);
}

.footer-top .user-name {
    background: url(../img/footer-user.png) left center no-repeat;
}

.footer-top .sign-out {
    opacity: 0.3;
    padding-left: 0;
}