.choice {
  margin-bottom: 25px;
  padding: 35px 0;
  background: #FAFAFA;
  .section-title {
    margin-bottom: 45px;
  }
  &__row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
  }
}

.choice-item {
  &__img {
    margin-bottom: 25px;
  }
  &__title {
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #000;
  }
}