.template-contacts {
  .section-title {
    margin-bottom: 45px;
  }
}

.contact-info {
  margin: 0 0 65px;
  background-color: #FAFAFA;
  display: grid;
  grid-template-columns: 695px 1fr;
  &__title {
    margin: 0 0 60px;
    font-weight: bold;
    font-size: 24px;
    line-height: 35px;
    color: #000000;
  }
}

.contact-desc {
  max-width: 350px;
  padding: 65px 0 0 65px;
}

.contact-list {
  &__item {
    padding-left: 30px;
    background-position: left top 5px;
    background-repeat: no-repeat;
  }
  &__item--address {
    background-image: url('../img/pin.svg');
  }
  &__item--work-time {
    background-image: url('../img/calendar.svg');
  }
  &__item--email {
    background-image: url('../img/email.svg');
  }
  &__item--phone {
    background-position: left top 8px;
    background-image: url('../img/footer-phone.svg');
  }
  &__item,
  &__link {
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    color: #000000;
  }
}

.contact-numbers {
  margin: 0 0 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  .contact-number {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
  }
  .contact-department {
    margin: 10px 0 0;
    font-size: 14px;
    line-height: 21px;
    color: #C6C6C6;
  }
}