@font-face {
  font-family: 'TT Norms Pro';
  src: url('../fonts/TTNormsPro-Bold.eot');
  src: local('../fonts/TT Norms Pro Bold'), local('TTNormsPro-Bold'),
      url('../fonts/TTNormsPro-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTNormsPro-Bold.woff2') format('woff2'),
      url('../fonts/TTNormsPro-Bold.woff') format('woff'),
      url('../fonts/TTNormsPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms Pro';
  src: url('../fonts/TTNormsPro-Regular.eot');
  src: local('../fonts/TT Norms Pro Regular'), local('TTNormsPro-Regular'),
      url('../fonts/TTNormsPro-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTNormsPro-Regular.woff2') format('woff2'),
      url('../fonts/TTNormsPro-Regular.woff') format('woff'),
      url('../fonts/TTNormsPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'TT Norms Pro';
  src: url('../fonts/TTNormsPro-Medium.eot');
  src: local('../fonts/TT Norms Pro Medium'), local('TTNormsPro-Medium'),
      url('../fonts/TTNormsPro-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTNormsPro-Medium.woff2') format('woff2'),
      url('../fonts/TTNormsPro-Medium.woff') format('woff'),
      url('../fonts/TTNormsPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria-Regular.eot');
  src: local('../fonts/Geometria Regular'), local('Geometria-Regular'),
      url('../fonts/Geometria-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Geometria-Regular.woff2') format('woff2'),
      url('../fonts/Geometria-Regular.woff') format('woff'),
      url('../fonts/Geometria-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria-Medium.eot');
  src: local('../fonts/Geometria Medium'), local('Geometria-Medium'),
      url('../fonts/Geometria-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Geometria-Medium.woff2') format('woff2'),
      url('../fonts/Geometria-Medium.woff') format('woff'),
      url('../fonts/Geometria-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria-Bold.eot');
  src: local('../fonts/Geometria Bold'), local('Geometria-Bold'),
      url('../fonts/Geometria-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Geometria-Bold.woff2') format('woff2'),
      url('../fonts/Geometria-Bold.woff') format('woff'),
      url('../fonts/Geometria-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Karla';
  src: url('../fonts/Karla-Bold.eot');
  src: local('../fonts/Karla Bold'), local('Karla-Bold'),
      url('../fonts/Karla-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Karla-Bold.woff2') format('woff2'),
      url('../fonts/Karla-Bold.woff') format('woff'),
      url('../fonts/Karla-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}