@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 1140px) {

  .site-list {
    &__item {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }

}

@media screen and (max-width: 1024px) {

  .site-logo {
    display: none;
  }

  .address__town,
  .address__phone {
    font-size: 12px;
    line-height: 18px;
  }

  .site-nav {
    flex-wrap: wrap;
  }

  .site-list {
    order: -1;
    width: 100%;
    margin-right: auto;
    margin-block-end: 30px;
  }

  .product-button {
    margin-right: auto;
  }

}

@media screen and (max-width: 768px) {

  .user-nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .logo {
    margin: 0 0 10px;
  }

  .address {
    margin: 0 0 20px;
    flex-wrap: wrap;
    &__item {
      width: 40%;
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  .site-list {
    margin-top: 10px;
    &__item {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

}

@media screen and (max-width: 480px) {

  .user-nav {
    align-items: center;
  }

  .address {
    &__item {
      width: 100%;
      align-items: center;
      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }

  .product-button {
    width: 100%;
    margin: 0 0 20px;
    justify-content: center;
  }

}