.template-pay-delivery {
  .small-section-title {
    margin-bottom: 25px;
  }
}

.delivery-banner {
  min-height: 355px;
  margin: 25px 0;
  padding-left: 55px;

  display: flex;
  align-items: center;

  background-color: #FAFAFA;
  z-index: 50;

  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: 37px;
    right: 60px;
    z-index: -1;
    width: 480px;
    height: 280px;
    background-image: url('../img/van.png');
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
  }
  &__title {
    max-width: 440px;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    color: #000000;
  }
}

.order,
.pay,
.delivery {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}

.order,
.pay {
  margin-bottom: 30px;
}

.delivery {
  margin-bottom: 45px;
  p:not(:last-child) {
    margin-bottom: 20px;
  }
}

.order {
  &__list {
    margin: 20px 0 20px 20px;
  }
  &__list-item {
    list-style-type: disc;
  }
}

.pay {
  &__list {
    margin-left: 20px;
  }
  &__list-item {
    list-style-type: disc;
  }
}


