.filter-range {
  width: 260px;
  padding: 0 0 5px;
  &__values {
    margin: 0 0 12px;
    text-align: center;
  }
  &__value {
    font-weight: 400;
    font-size: 12px;
    line-height: 112.69%;
    color: #525252;
  }
  &__input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    background-color: transparent;
    pointer-events: none;
  }
}

.range-container {
  position: relative;
}

.slider-track{
  width: 100%;
  height: 10px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background: #FFFFFF;
  border: 0.5px solid #575B5E;
}

.filter-range__input[type="range"]::-webkit-slider-runnable-track{
  -webkit-appearance: none;
  height: 5px;
}
.filter-range__input[type="range"]::-moz-range-track{
  -moz-appearance: none;
  height: 5px;
}
.filter-range__input[type="range"]::-ms-track{
  appearance: none;
  height: 5px;
}
.filter-range__input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance: none;
  height: 18px;
  width: 18px;
  background: #fff url('../img/radio-input-check.svg') center no-repeat;
  z-index: 20;
  cursor: pointer;
  margin-top: -8px;
  pointer-events: auto;
  border-radius: 50%;
  // border: 1px solid #000;
}
.filter-range__input[type="range"]::-moz-range-thumb{
  -webkit-appearance: none;
  height: 18px;
  width: 18px;
  cursor: pointer;
  border-radius: 50%;
  background: #fff url('../img/radio-input-check.svg') center no-repeat;
  pointer-events: auto;
  // border: 1px solid #000;
}
.filter-range__input[type="range"]::-ms-thumb{
  appearance: none;
  height: 18px;
  width: 18px;
  cursor: pointer;
  border-radius: 50%;
  background: #fff url('../img/radio-input-check.svg') center no-repeat;
  pointer-events: auto;
  // border: 1px solid #000;
}