.filters-section {
  margin-right: 10px;
}

.filter-show-btn {
  padding: 14px 20px;
  margin-bottom: 30px;
  background-color: #F3CD82;

  display: none;
  align-items: center;

  font-family: "TT Norms", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 110%;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  &__text {
    margin-left: 5px;
  }

  img {
    width: 20px;
    height: 20px;
    object-fit: cover;
  }
}

.btn-filter-reset {
  margin: 20px 0 0;
  padding: 7px 35px 9px;
  border: 1px solid #575B5E;
  border-radius: 17.5px;

  font-family: $ttnorms;
  font-weight: normal;
  font-size: 16px;
  line-height: 110%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #43474A;
}

.filters {
  width: 300px;
  padding-bottom: 30px;
  background: #FBFBFB;
  &__block-title {
    padding: 14px 0;
    background: #F3CD82;
    font-family: $ttnorms;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 110%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-align: center;
  }
}

.filter {
  margin:15px 0;
  padding: 0 20px 15px;
  list-style: none;
  border: none;
  &:not(:last-child) {
    border-bottom: 1px solid #E9E9E9;
  }
  &__bottom {
    display: none;
  }
  &--open {
    .filter__bottom {
      display: block;
    }
    .filter__title-chevron::before {
      
      transform: rotate(0deg);
    }
  }
  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 0 13px;
    font-family: $ttnorms;
    font-weight: normal;
    font-size: 16px;
    line-height: 110%;
    letter-spacing: 0.02em;
    color: #575B5E;
    cursor: pointer;
    position: relative;
    user-select: none;
  }
  &__title-chevron {
    width: 9px;
    height: 9px;
    &::before {
      content: '';
      position: absolute;
      width: 9px;
      height: 9px;
      transform: rotate(-180deg);
      background: url('../img/filter-chevron.svg') center no-repeat;
    }
  }
  &__option {
    padding-left: 25px;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.filter {
  &__input {
    cursor: pointer;
  }
  label {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #525252;
    position: relative;
    user-select: none;
    cursor: pointer;
  }
}

.filter__input-checkbox {
  & + label::before {
    content: '';
    position: absolute;
    top: 0;
    left: -25px;
    width:  16px;
    height: 16px;
    background: url('../img/checkbox-input.svg') center no-repeat;
  }
  &:checked + label::before {
    background: none;
  }
  &:checked + label::after {
    content: '';
    position: absolute;
    top: 0;
    left: -25px;
    width: 16px;
    height: 16px;
    background: url('../img/checkbox-input-check.svg') center no-repeat;
  }
  &:disabled + label {
    opacity: 0.5;
  }
}


.filter__input-radio {
  & + label::before {
    content: '';
    position: absolute;
    top: 0;
    left: -25px;
    width:  16px;
    height: 16px;
    background: url('../img/radio-input.svg') center no-repeat;
  }
  &:checked + label::before {
    background: none;
  }
  &:checked + label::after {
    content: '';
    position: absolute;
    top: 0;
    left: -25px;
    width: 16px;
    height: 16px;
    background: url('../img/radio-input-check.svg') center no-repeat;
  }
  &:disabled + label {
    opacity: 0.5;
  }
}
