.card-section {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 0 25px;
  &__slider,
  &__desc {
    width: 540px;
  }
}

.card-slider {
  margin-right: 10px;
  display: flex;
  align-items: flex-start;
  &__thumbnails {
    margin-right: auto;
    display: flex;
    flex-direction: column;
  }
  &__thumbnail {
    width: 77px;
    height: 51px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 5px;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  &__full-photo {
    width: 445px;
    height: 376px;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
}

.card {
  &__title {
    margin: 0 0 30px;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    color: #000000;
  }
  &__option-title {
    margin: 0 0 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
  }
}

.card-price {
  display: flex;
  align-items: center;
  margin: 0 0 40px;
}

.card {
  &__prices {
    margin-right: 45px;
  }
  &__price-new {
    margin-right: 15px;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
  }
  &__price-old {
    font-weight: bold;
    font-size: 16px;
    line-height: 40px;
    color: #232FE5;
    text-decoration: line-through;
  }
  &__values {
    width: 140px;
  }
  &__value-control {
    width: 15px;
    height: 15px;
    background-color: #F0F0F0;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #A7A7A7;
    transition: .2s;
    &:hover {
      color: #fff;
      background-color: #232FE5;
    }
  }
  &__value-current {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
  }
}

.card-counter-wrapper {
  width: 95px;
  height: 32px;
  padding: 0 8px;
  background: #FFFFFF;
  border: 1px solid #F0F0F0;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-color {
  margin: 0 0 30px;
  &__list {
    display: flex;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  &__btn {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    position: relative;
    transition: .2s;
    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      border: 1px solid #ccc;
      border-radius: 100%;
      width: 32px;
      height: 32px;
      transform: translate(-50%,-50%);
      transition: border .3s;
    }
    &--active::before,
    &:hover::before {
      border-color: #000;
    }
  }
}

.card-option-select {
  position: relative;
  &--open {
    .card-option-select__dropdown {
      display: block;
    }
    .card-option-select__top::before {
      transform: translateY(-50%) rotate(180deg);
    }
  }
  &__top {
    padding: 13px 25px;
    background: #FAFAFA;
    border: 1px solid #F0F0F0;
    border-radius: 10px;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #A7A7A7;
    cursor: pointer;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      right: 25px;
      transform: translateY(-50%);
      width: 9px;
      height: 10px;
      background: url('../img/select-arrow.svg');
      background-position: center;
    }
  }
  &__dropdown {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    top: calc(100%);
    z-index: 20;
    padding: 13px 25px;
    background: #fff;
    border: 1px solid #F0F0F0;
    border-radius: 10px;
  }
  &__item {
    cursor: pointer;
    &:not(:last-child) {
      margin: 0 0 10px;
    }
    &:hover {
      color: #232FE5;
    }
  }
}

.card-buttons {
  margin: 25px 0 13px;
  display: flex;
  align-items: flex-start;
}

.card {
  &__button {
    width: 255px;
    padding: 12px 15px;
    border: 2px solid transparent;
    box-shadow: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    transition: .2s
  }
  &__button--cart {
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      margin-right: 11px;
    }
  }
  &__button--buy {
    background: transparent;
    border-color: #232FE5;
    color: #232FE5;
  }
  &__delivery-link {
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #232FE5;
    &:hover {
      text-decoration: underline;
    }
  }
}

.card-tabs {
  margin-bottom: 45px;
  &__list {
    margin: 0 0 50px;
    display: flex;
    align-items: flex-start;
  }
  &__item {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #979797;
    cursor: pointer;
    &--active {
      color: #000;
    }
    &:not(:last-child) {
      margin-right: 45px;
    }
  }
  &__desc {
    &--hidden {
      display: none;
    }
    p {
      &:not(:last-child) {
        margin: 0 0 30px;
      }
    }
  }
}