.gallery {
  margin: 0 0 55px;
  &__row {
    padding: 70px 0 55px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
  }
}

.gallery-item {
  &__link {
    display: block;
    max-width: 255px;
    min-height: 155px;
    background-color: #C4C4C4;
  }
  img {
    object-fit: cover;
  }
}

.gallery-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  &__item {
    margin: 0 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    width:  40px;
    height: 40px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #343434;
    transition: .2s;
  }
  &__item--current,
  &__item:hover {
    background: #232FE5;
    color: #fff;
  }
  &__arrow {
    margin-left: 5px;
  }
}