@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 1140px) {

}


@media screen and (max-width: 1024px) {

  .delivery-banner {
    min-height: auto;
    padding: 30px;
    &::after {
      display: none;
    }
  }

}


@media screen and (max-width: 768px) {

}


@media screen and (max-width: 480px) {

  .delivery-banner {
    padding: 30px 15px;
    &__title {
      max-width: 100%;
      font-size: 24px;
      line-height: 30px;
    }
  }

}