@media screen and (max-width: 1200px) {
  .header__location {
    margin: 0 25px; } }

@media screen and (max-width: 1170px) {
  .header__left, .header__right {
    width: 100%;
    justify-content: space-between; }
  .header__left {
    margin: 0 0 10px; }
  .header__time {
    margin-left: 0; } }

@media screen and (max-width: 1024px) {
  .banner,
  .glazing,
  .decor,
  .work,
  .warranty,
  .pay,
  .action,
  .place,
  .question {
    padding: 50px 0; }
  .header__left, .header__right {
    width: 100%;
    justify-content: space-between; }
  .header__left {
    margin: 0 0 10px; }
  .header-location__block {
    margin-right: auto; }
  .header-content {
    flex-direction: column; }
  .header-connection {
    margin-left: 0; }
  .header__tel {
    margin-bottom: 10px; }
  .header__time {
    margin: 0; }
  .banner-content__column:first-child {
    flex: 0 0 50%; }
  .banner__title {
    line-height: 30px; }
  .banner__bigtitle {
    font-size: 40px; }
  .banner__list {
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: space-around; }
  .banner__item {
    margin: 0 0 30px; }
  .glazing__desc-item {
    padding: 0 20px 50px; }
  .glazing__desc-wrapper {
    flex-direction: column;
    align-items: center;
    margin-top: 10px; }
  .glazing__desc-value {
    margin: 0 0 10px; }
  .decor-content {
    display: block; }
    .decor-content__column:first-child {
      display: block; }
    .decor-content__column:last-child {
      display: none; }
    .decor-content__list {
      padding: 0; }
  .decor__list-item {
    height: 0;
    min-height: 60px; }
  .decor__list-title {
    margin: 15px 0 0;
    font-size: 18px;
    line-height: 22px; }
  .place-body {
    margin-top: 30px;
    display: block; }
  .place__img {
    margin-bottom: 30px; }
  .place__column-left, .place__column-right {
    display: block; }
  .place__item {
    margin-bottom: 10px; }
    .place__item-title {
      line-height: 30px; }
  .question-title, .question-link {
    font-size: 24px; } }

@media screen and (max-width: 768px) {
  .section-name {
    font-size: 24px;
    line-height: 28px; }
  .glazing,
  .decor,
  .work,
  .warranty,
  .pay,
  .action,
  .place,
  .question {
    padding: 40px 0; }
  .header-location__block {
    display: none; }
  .banner-content {
    flex-direction: column; }
  .banner__title, .banner__bigtitle {
    text-align: center; }
  .banner__list {
    margin: 25px 0 35px; }
  .banner__item {
    margin: 0 15px 30px; }
  .glazing__list {
    margin: 30px 0; }
  .glazing__item {
    margin: 0 5%; }
  .glazing__desc {
    flex-direction: column; }
    .glazing__desc-column {
      flex: 1 1 100%; }
      .glazing__desc-column:first-child {
        margin-bottom: 30px; }
    .glazing__desc-item {
      padding: 0 60px 50px; }
  .decor__list {
    margin: 30px 0;
    flex-wrap: wrap; }
    .decor__list-item {
      min-height: 55px; }
    .decor__list-title {
      font-size: 16px;
      line-height: 20px; }
    .decor__list-column {
      flex: 0 0 50%;
      border: 1px solid #ececec;
      box-sizing: border-box; }
  .decor-content__item {
    margin: 0 15px; }
  .work__list {
    margin-top: 30px; }
  .work__column {
    flex: 0 0 48%; }
  .warranty__list {
    margin: 30px 0 0; }
  .pay {
    padding-bottom: 20px; }
    .pay .section-name {
      text-transform: uppercase; }
    .pay-content {
      margin-top: 30px;
      display: block; }
    .pay__column {
      flex: 1 1 100%;
      margin-bottom: 20px; }
    .pay__item {
      width: 300px;
      margin: 0 auto; }
  .action {
    text-align: center; }
    .action-body {
      display: block; }
    .action__column:first-child {
      flex: 1 1 100%; }
    .action__column .callback {
      margin: 0 auto; }
    .action__content-title {
      margin: 0 0 15px; }
    .action__content-text {
      margin: 0; }
    .action-timer {
      margin: 30px auto 30px; }
  .footer-copy {
    display: none; } }

@media screen and (max-width: 480px) {
  .callback {
    margin: 0 auto; }
  .section-name {
    font-size: 20px;
    line-height: 24px; }
  .banner,
  .glazing,
  .decor,
  .work,
  .warranty,
  .pay,
  .action,
  .place,
  .question,
  .footer {
    padding: 30px 0; }
  .header__left,
  .header__right {
    flex-direction: column; }
  .header__logo, .header__time {
    margin-bottom: 20px; }
  .header__call {
    display: none; }
  .banner {
    padding-bottom: 0; }
    .banner__list {
      flex-wrap: wrap; }
    .banner__item {
      margin-bottom: 35px; }
  .glazing-content {
    padding-left: 5px;
    padding-right: 5px; }
  .glazing__list {
    flex: 0 0 50%; }
  .glazing__column {
    margin-bottom: 20px; }
  .glazing__desc-item {
    padding: 0 10px 50px; }
  .decor__list {
    flex-direction: column; }
    .decor__list-column {
      display: block; }
    .decor__list-item {
      margin-top: -1px; }
  .decor-content__desc {
    flex-direction: column; }
  .decor-content__bg {
    display: block; }
    .decor-content__bg img {
      width: 100%; }
  .decor-content__list {
    flex: 1 1 100%;
    justify-content: center; }
  .work__column {
    flex: 1 1 100%; }
  .warranty__list {
    justify-content: center; }
  .warranty__column {
    flex: 0 0 50%; }
  .question-content {
    flex-direction: column;
    text-align: center; }
  .question-title {
    margin-bottom: 20px; } }
