/* Custom style */
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative; }

.arrow-left {
  width: 55px;
  height: 55px;
  border: 2px solid #000;
  border-radius: 10px;
  content: '';
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 100;
  display: flex;
  justify-content: center; }

.modal {
  display: none; }

.modal__show {
  display: block; }

.modal {
  content: '';
  position: fixed;
  top: 26%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 370px;
  height: 441px; }
  .modal .callback {
    border: 1px solid #000;
    padding-left: 5px;
    padding-right: 5px;
    position: relative; }
    .modal .callback .modal__close {
      content: '';
      position: absolute;
      top: 5px;
      right: 5px;
      width: 25px;
      height: 25px;
      cursor: pointer;
      background: url(../img/close.svg) no-repeat center top; }

.container {
  max-width: 1170px;
  padding: 0 10px;
  margin: 0 auto; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .ibg img {
    display: none; }

.section-name {
  margin: 0;
  padding-bottom: 19px;
  font-size: 30px;
  line-height: 48px;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
  text-align: center;
  background: url(../img/line.png) no-repeat center bottom; }

.btn {
  display: inline-block;
  border: none;
  cursor: pointer;
  color: #333;
  font-size: 20px;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 10px;
  box-shadow: 0px 2px 20px 0px rgba(255, 153, 0, 0.4);
  border: 1px solid #ffc600;
  background: linear-gradient(-90deg, #ffed26 0%, #ffb400 100%); }

.callback {
  max-width: 370px;
  box-sizing: border-box;
  background: #fff;
  border-radius: 10px;
  color: #333;
  padding: 36px 0px 33px;
  text-align: center; }
  .callback__desc {
    margin: 0 0 8px;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700; }
  .callback__bigtext {
    display: block;
    margin-bottom: 35px;
    font-size: 24px;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: 700; }
  .callback input {
    width: 270px;
    padding: 0px 15px;
    border: 1px solid #d7d7d7;
    border-radius: 10px;
    box-sizing: border-box;
    height: 59px;
    color: #999999;
    font-size: 15px;
    line-height: 59px;
    margin-bottom: 20px; }
  .callback__btn {
    margin: 0 0 10px; }
  .callback__smalltext {
    font-size: 11px;
    font-weight: 300;
    color: #666666; }
  .callback__btn {
    padding: 29px 40px; }

/* HEADER */
.header__left, .header__right {
  display: flex;
  align-items: center; }

.header__left {
  margin-right: auto; }

.header__right {
  justify-content: space-between; }

.header-content {
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center; }

.header__logo {
  display: block; }

.header__location {
  color: #0096dc;
  font-size: 14px;
  line-height: 1.2;
  display: block;
  max-width: 230px;
  margin-left: 27px;
  margin-right: 112px; }

.header__call {
  color: #55a831;
  display: inline-block;
  border: 2px solid #55a831;
  border-radius: 10px;
  padding: 10px 16px 14px 55px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  background: url(../img/ruler-pencil.png) no-repeat 12px 8px;
  transition: .2s; }
  .header__call:hover {
    color: #000;
    background: url(../img/ruler-pencil-hover.png) no-repeat 12px 8px;
    border: 2px solid #000; }

.header__time {
  margin: 0;
  padding-left: 45px;
  margin-left: 55px;
  color: #333;
  font-size: 14px;
  line-height: 1.2;
  background: url(../img/clock.png) no-repeat center left; }
  .header__time--work {
    font-size: 18px;
    font-weight: 600; }

.header-connection {
  padding-left: 30px;
  margin-left: 70px; }

.header__tel, .header__order {
  display: block; }

.header__tel {
  margin-top: -4px;
  color: #333;
  font-size: 23px;
  line-height: 1.2;
  font-weight: 700;
  position: relative; }
  .header__tel:before {
    content: "";
    position: absolute;
    top: 5px;
    left: -25px;
    width: 20px;
    height: 20px;
    background: url(../img/phone.png) no-repeat center center; }

.header__order {
  margin-top: 10px;
  font-size: 15px;
  line-height: 1.2;
  text-decoration: underline; }
  .header__order:hover {
    text-decoration: none; }

/* BANNER */
.banner {
  padding: 105px 0 100px;
  background-image: url(../img/header-bg.jpg);
  background-size: cover;
  background-position: center top; }
  .banner-content {
    display: flex;
    justify-content: space-between; }
    .banner-content__column:first-child {
      flex: 0 0 42.73504273504274%; }
    .banner-content__column:nth-child(2) {
      margin-top: -5px; }
  .banner__title {
    margin: 0 0 24px;
    font-size: 26px;
    line-height: 48px;
    font-weight: 700;
    color: #333; }
  .banner__bigtitle {
    display: block;
    font-size: 55px;
    line-height: 48px;
    font-weight: 700; }
  .banner__list {
    display: flex;
    margin-top: 164px; }
  .banner__item {
    width: 110px;
    height: 110px;
    border: 1px solid #fff;
    border-radius: 50%;
    background: linear-gradient(121deg, #0084cc 0%, #0084cc 35%, #2db7f8 68%, #2db7f8 100%);
    font-size: 16px;
    line-height: 1.2;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    position: relative; }
    .banner__item::before {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%); }
    .banner__item:first-child::before {
      top: -22px;
      width: 48px;
      height: 58px;
      background: url(../img/feature1.png) no-repeat center top; }
    .banner__item:nth-child(2)::before {
      top: -22px;
      left: 45%;
      width: 50px;
      height: 58px;
      background: url(../img/feature2.png) no-repeat center top; }
    .banner__item:nth-child(3)::before {
      top: -12px;
      width: 41px;
      height: 42px;
      background: url(../img/feature3.png) no-repeat center top; }
    .banner__item:nth-child(4)::before {
      top: -12px;
      width: 48px;
      height: 40px;
      background: url(../img/feature4.png) no-repeat center top; }

/* GLAZING */
.glazing {
  padding: 72px 0 103px; }
  .glazing__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 70px;
    margin-bottom: 37px; }
  .glazing__column {
    flex: 0 0 11.96581196581197%; }
  .glazing__item {
    padding: 10px 0 0; }
    .glazing__item-img {
      margin-bottom: 24px;
      text-align: center; }
    .glazing__item-link {
      display: block;
      font-size: 18px;
      line-height: 26px;
      font-weight: 600;
      color: #249ae6;
      text-decoration: underline;
      transition: .2s;
      text-align: center; }
      .glazing__item-link:hover {
        text-decoration: none;
        color: #454545; }
  .glazing__desc {
    display: flex;
    justify-content: space-between; }
    .glazing__desc-column {
      flex: 0 0 50%; }
      .glazing__desc-column:first-child {
        background: #eef7fd;
        border-top: 5px solid #0d8fe3;
        position: relative; }
        .glazing__desc-column:first-child:before {
          content: "";
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 16px;
          height: 8px;
          background: url(../img/blue-arrow.svg) no-repeat center top; }
      .glazing__desc-column:last-child {
        background: #fff8e7;
        border-top: 5px solid #ffb903;
        position: relative; }
        .glazing__desc-column:last-child:before {
          content: "";
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 16px;
          height: 8px;
          background: url(../img/yellow-arrow.svg) no-repeat center top; }
    .glazing__desc-item {
      padding: 0 60px 50px;
      box-sizing: border-box; }
    .glazing__desc-title {
      margin: 19px 0 16px;
      text-align: center;
      font-size: 20px;
      line-height: 48px;
      text-transform: uppercase; }
      .glazing__desc-title.cold-title {
        color: #0d8fe3; }
      .glazing__desc-title.hot-title {
        color: #ffb903; }
    .glazing__desc-img {
      margin-bottom: 30px; }
      .glazing__desc-img img {
        width: 100%; }
    .glazing__desc-text {
      margin: 0;
      padding-left: 40px;
      font-size: 14px;
      line-height: 30px;
      font-weight: 400;
      color: #000;
      position: relative; }
      .glazing__desc-text::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 25px;
        height: 25px;
        background-color: #e8e8e8;
        border-radius: 50%;
        background-image: url(../img/checked-icon.png);
        background-position: center center;
        background-repeat: no-repeat; }
    .glazing__desc-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      margin-top: 40px; }
    .glazing__desc-value {
      margin: 0;
      font-size: 20px;
      line-height: 30px;
      font-weight: 700;
      color: #000; }
      .glazing__desc-value span {
        display: block;
        font-size: 14px;
        font-weight: 400; }
    .glazing__desc-btn {
      padding: 20px 30px; }

/* DECOR */
.decor {
  padding: 70px 0 80px;
  background: #f7f7f7; }
  .decor__list {
    display: flex;
    margin-top: 80px;
    margin-bottom: 40px; }
    .decor__list-column {
      flex: 0 0 25%;
      cursor: pointer; }
    .decor__list-item {
      border-left: 1px solid #ececec;
      border-right: 1px solid #ececec;
      height: 95px;
      border-top: 5px solid transparent;
      position: relative; }
      .decor__list-item:hover {
        border-top: 5px solid #0d8fe3; }
      .decor__list-item:hover:before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 16px;
        height: 8px;
        background: url(../img/blue-arrow.svg) no-repeat center top; }
      .decor__list-item:hover .decor__list-title {
        color: #0085db; }
    .decor__list-title {
      margin: 19px 0 0;
      text-align: center;
      font-size: 20px;
      line-height: 48px;
      font-weight: 600;
      color: #000;
      text-transform: uppercase;
      cursor: pointer; }
  .decor-content {
    display: flex; }
    .decor-content__column:first-child {
      flex: 0 0 68.37606837606838%; }
    .decor-content__desc {
      display: flex; }
    .decor-content__bg {
      flex: 0 0 37.5%; }
    .decor-content__list {
      flex: 0 0 58.75%;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      padding: 15px 0px; }
    .decor-content__item {
      max-width: 100px;
      padding-top: 15px;
      margin: 0 25px;
      text-align: center;
      font-size: 14px;
      line-height: 20px;
      color: #000;
      margin-right: 10px;
      display: flex;
      flex-direction: column;
      align-items: center; }
    .decor-content__title {
      margin: 15px 0 0;
      font-weight: 600; }
    .decor-content__value {
      margin: auto 0 0;
      font-weight: 700;
      color: #0d8fe3; }
      .decor-content__value span {
        display: block;
        font-size: 12px;
        line-height: 16px;
        font-weight: 400;
        color: #000; }

/* WORK */
.work {
  padding: 70px 0 50px; }
  .work__list {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    margin: 80px 0 0;
    justify-content: space-between; }
  .work__column {
    flex: 0 0 23.07692307692308%; }
  .work__item {
    position: relative;
    display: block;
    margin-bottom: 30px; }
    .work__item-hover {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      transition: .2s;
      overflow: hidden; }
      .work__item-hover:hover {
        transform: scale(1.1); }
  .work__img img {
    width: 100%; }

/* WARRANTY */
.warranty {
  padding: 65px 0px 60px;
  background: #0382c2;
  color: #fff; }
  .warranty .section-name {
    color: #fff;
    background-image: url(../img/white-line.png); }
  .warranty__list {
    max-width: 970px;
    margin: 60px auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .warranty__list-second {
      margin-top: 40px; }
  .warranty__column {
    flex: 0 0 18.04123711340206%; }
  .warranty__item {
    margin: 20px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .warranty__item img {
      margin-bottom: auto;
      flex: 1 1 auto; }
  .warranty__title {
    flex: 1 1 auto;
    margin: 28px 0 0;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 600; }

/* PAY */
.pay {
  padding: 67px 0 103px; }
  .pay .section-name {
    background: none;
    text-transform: none;
    padding-bottom: 0; }
  .pay-content {
    display: flex;
    justify-content: space-between;
    margin-top: 52px; }
  .pay__column {
    flex: 0 0 25.64102564102564%; }
  .pay__item {
    display: flex;
    align-items: center; }
    .pay__item-img {
      margin-right: 25px; }
    .pay__item-title {
      margin: 0;
      font-size: 20px;
      line-height: 30px;
      color: #000;
      font-weight: 400; }

/* ACTION */
.action {
  padding: 80px 0 78px;
  background: url(../img/dude-bg.jpg) no-repeat center top;
  background-size: cover; }
  .action-body {
    display: flex;
    justify-content: space-between; }
  .action__column:first-child {
    flex: 0 0 50%; }
  .action__content-title {
    margin: -9px 0 75px;
    font-size: 48px;
    line-height: 48px;
    color: #008cce;
    font-weight: 700; }
  .action__content-text {
    font-size: 24px;
    line-height: 40px;
    color: #000;
    font-weight: 400; }
  .action-timer {
    margin: 75px 0 0;
    padding: 9px 0 0;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #d1d1d1;
    color: #000;
    max-width: 260px;
    text-align: center; }
    .action-timer__title {
      margin: 0 0 11px;
      font-size: 14px;
      line-height: 33px;
      font-weight: 600;
      text-transform: uppercase; }
    .action-timer__block {
      display: flex;
      text-align: center;
      max-width: 220px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between; }
    .action-timer__time {
      margin: 0 0 15px;
      width: 40px;
      height: 50px;
      background: #353535;
      border-radius: 10px;
      font-size: 28px;
      line-height: 50px;
      color: #efefef;
      font-family: "Open Sans Condensed", sans-serif;
      font-weight: 700; }
    .action-timer__day {
      font-size: 13px;
      font-weight: 600; }

/* PLACE */
.place {
  padding: 73px 0 70px; }
  .place-body {
    margin-top: 80px;
    display: flex;
    justify-content: space-between; }
  .place__column-left {
    flex: 0 0 48.71794871794872%; }
  .place__column-right {
    flex: 0 0 40.17094017094017%; }
  .place__img img {
    width: 100%; }
  .place__list {
    margin-top: -18px; }
  .place__item {
    margin-bottom: 15px; }
    .place__item-title {
      margin: 0;
      font-size: 15px;
      line-height: 48px;
      color: #008cce;
      font-weight: 600; }
      .place__item-title span {
        font-weight: 400; }
    .place__item-desc {
      margin: 0;
      font-size: 18px;
      line-height: 26px;
      color: #000;
      font-weight: 600; }
      .place__item-desc span {
        font-weight: 400; }
    .place__item-link {
      color: #000;
      text-decoration: underline; }

/* QUESTION */
.question {
  background: #00a0eb;
  padding: 81px 0 92px;
  color: #fff; }
  .question-content {
    display: flex;
    justify-content: center; }
  .question-title {
    margin: 0 10px 0 0;
    font-weight: 400;
    font-size: 34px; }
  .question-link {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    text-decoration: underline; }

/* FOOTER */
.footer {
  padding: 35px 0 30px; }
  .footer-content {
    display: flex;
    justify-content: space-between; }
  .footer-copy {
    flex: 0 0 200px;
    font-size: 15px;
    line-height: 20px;
    color: #000;
    font-weight: 400; }
  .footer-contact {
    flex: 0 0 200px;
    text-align: right; }
  .footer-tel {
    display: block;
    font-size: 18px;
    color: #000;
    font-weight: 700; }
  .footer-link {
    display: block;
    font-size: 14px;
    line-height: 26px;
    text-decoration: underline; }
    .footer-link:hover {
      text-decoration: none; }
