/* Custom style */
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: #fff; }

.container {
  max-width: 1134px;
  padding: 0 15px;
  margin: 0 auto; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.btn {
  display: inline-block;
  padding: 9px 25px;
  background: #1F2455 0% 0% no-repeat padding-box;
  box-shadow: 0px 8px 10px #00000033;
  border: 1px solid #383E71;
  border-radius: 19px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  color: #99A6D3;
  transition: .2s; }
  .btn:active {
    transform: translateY(4px); }

/* BANNER */
.banner {
  background: url(../img/bg.png) no-repeat center top;
  background-size: cover;
  min-height: 820px;
  height: 100vh; }

/* HEADER */
.header {
  padding-top: 48px; }
  .header-top__nav {
    display: flex;
    justify-content: flex-end; }
  .header-top__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
  .header-top__item {
    margin-right: 40px; }
    .header-top__item:last-child {
      margin-right: 30px; }
  .header-top__icon {
    margin: 0 0 0 30px; }
  .header__user-block {
    display: flex;
    align-items: center;
    position: relative; }
    .header__user-block .menu-icon {
      display: block;
      width: 16px;
      padding: 0 25px;
      border-left: 1px solid #99A6D3; }
  .header-bottom {
    margin-top: 20px; }
    .header-bottom__list {
      display: flex;
      align-items: center;
      flex-wrap: wrap; }
    .header-bottom__logo {
      display: inline-block;
      width: 152px;
      margin-right: 170px; }
    .header-bottom__item:not(:last-child) {
      margin-right: 40px; }

.menu-link {
  display: block;
  color: #99A6D3;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  transition: .2s;
  position: relative; }
  .menu-link:hover {
    color: #fff; }
  .menu-link:hover::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 21px;
    height: 3px;
    background: #F15713;
    border-radius: 3px; }

.menu-block {
  display: none;
  content: '';
  position: absolute;
  top: 50px;
  right: 0;
  background: #F6F6FF;
  border-radius: 12px;
  padding: 30px 30px 55px;
  width: 760px;
  font-size: 14px;
  line-height: 19px;
  z-index: 1; }
  .menu-block__show {
    display: block; }
  .menu-block__content {
    display: flex;
    justify-content: space-between; }
  .menu-block__column:last-child {
    padding-left: 30px;
    border-left: 1px solid #D3D3D3; }
  .menu-block__item:not(:last-child) {
    margin: 0 0 21px; }
  .menu-block__title, .menu-block__link {
    font-weight: 500;
    color: #2E2E50; }
  .menu-block__title {
    margin: 0 0 21px; }
  .menu-block__link {
    display: inline-block;
    margin: 0 0 6px; }
    .menu-block__link:hover {
      text-decoration: underline; }
  .menu-block__desc {
    margin: 0;
    font-weight: 300;
    color: #9698A4; }
  .menu-block__triangle {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: -10px;
    right: 125px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 25px solid #F5F7FA; }

/* CONTENT */
.content {
  padding: 15px 0 320px;
  background: url(../img/balloon.png) no-repeat 740px 15px; }
  .content__block {
    max-width: 651px;
    padding-top: 110px; }
  .content__title {
    margin: 0 0 22px;
    font-size: 34px;
    line-height: 42px;
    font-weight: 700; }
  .content__slogan {
    margin: 0 0 15px;
    font-size: 22px;
    line-height: 27px;
    font-weight: 300; }
  .content__desc {
    margin: 0;
    font-size: 18px;
    line-height: 22px;
    font-weight: 300; }
  .content .red-text {
    color: #F15713; }
  .content__buttons {
    margin-top: 33px;
    display: flex; }
  .content__btn {
    color: #fff; }
    .content__btn:hover {
      border-color: transparent;
      background: #F15713; }
    .content__btn:first-child {
      padding: 13px 16px 12px 19px;
      margin-right: 26px; }
    .content__btn:nth-child(2) {
      padding: 13px 39px 12px 41px; }

/* MEDIA */
@media screen and (max-width: 1024px) {
  .content {
    background-position: 600px 15px; } }

@media screen and (max-width: 850px) {
  .menu-block {
    width: 240px; }
    .menu-block__content {
      flex-direction: column; }
    .menu-block__column:last-child {
      margin-top: 30px;
      padding-left: 0;
      border-left: none; } }

@media screen and (max-width: 768px) {
  .header-top__nav {
    justify-content: space-between; }
  .header-top__list {
    width: 100%;
    justify-content: space-between; }
  .header-top__item {
    margin: 0 15px; }
    .header-top__item:last-child {
      margin: 0 15px; }
  .header-bottom__list {
    justify-content: space-between; }
  .header-bottom__item:not(:last-child) {
    margin-right: 0; }
  .header-bottom__logo {
    margin-right: auto; }
  .content {
    background-position: center bottom;
    padding-bottom: 500px;
    margin-bottom: 30px; }
    .content__title {
      font-size: 30px;
      line-height: 35px; } }

@media screen and (max-width: 550px) {
  .header-top__nav {
    flex-direction: column; }
  .header-top__list, .header-top__item {
    margin-bottom: 20px; }
  .header-top__item:last-child {
    margin-bottom: 20px; }
  .header-bottom__list {
    flex-wrap: wrap; }
  .header-bottom__item {
    margin-bottom: 15px; }
  .header__user-block {
    justify-content: flex-end; }
  .content {
    background-position: center 500px;
    margin-bottom: 30px;
    padding-bottom: 700px; }
    .content__buttons {
      flex-direction: column;
      align-items: flex-start; }
    .content__btn {
      margin: 0 auto 15px; }
      .content__btn:first-child {
        margin-right: auto;
        width: 200px;
        text-align: center;
        padding: 13px 50px 12px; }
      .content__btn:nth-child(2) {
        width: 200px;
        text-align: center;
        padding: 13px 50px 12px; } }

@media screen and (max-width: 480px) {
  .header-top__list {
    flex-wrap: wrap; } }
