.card-title {
  max-width: 730px;
  margin-top: 40px;
  margin-bottom: 30px;
  font-family: "Intro Bold", Arial, sans-serif;
  font-weight: bold;
  font-size: 48px;
  line-height: 120%;
  color: #000000;
}

.card-section {
  margin-top: 38px;
  margin-bottom: 41px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.card-slider {
  display: flex;
  align-items: flex-start;
  &__thumbnails {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  &__full {
    margin-left: 24px;
  }
}

.card-description {
  width: 457px;
}

.card-color {
  margin-bottom: 40px;
  display: flex;
  align-items: flex-start;
  &__title {
    margin-right: 30px;
    font-family: "Intro Bold", Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 130%;
    color: #000000;
  }
  &__list {
    display: flex;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 28px;
    }
  }
  &__btn {
    display: inline-block;
    width: 22px;
    height: 22px;
    border-radius: 100%;
    position: relative;
    transition: 0.2s;
  }
  &__btn::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    border: 4px solid #fff;
    width: 32px;
    height: 32px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }
  &__btn--active::before,
  &__btn:hover::before {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.24);
  }
}

.card-value {
  margin-bottom: 37px;
  display: flex;
  align-items: center;
  &__new-price {
    margin-right: 16px;
    font-family: "Intro Bold", Arial, sans-serif;
    font-weight: bold;
    font-size: 32px;
    line-height: 130%;
    color: #000000;
  }
  &__old-price {
    margin-right: 47px;
    font-family: "Intro Regular", Arial, sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 125%;
    color: #b6bec6;
    text-decoration: line-through;
  }
  &__availability {
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    color: #000000;
  }
}

.card-buttons {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}

.card-button {
  &__btn {
    display: flex;
    align-items: center;
  }
  &__btn--cart {
    display: inline-block;
    width: 177px;
    height: 48px;
    margin-right: 51px;

    background: linear-gradient(90deg, #ee6409 -1.41%, #f77d0c 98.59%);
    border-radius: 4px;

    font-weight: normal;
    font-size: 16px;
    line-height: 48px;
    color: #ffffff;
    img {
      margin-right: 14px;
    }
  }
  &__btn--stat {
    margin-right: 39px;
  }
  &__btn--stat,
  &__btn--like {
    font-weight: normal;
    font-size: 13px;
    line-height: 150%;
    color: #000000;
    img {
      margin-right: 9px;
    }
  }
}

.card-desc {
  width: 100%;
  margin-bottom: 42px;
  &__item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    border-bottom: 1px solid #e4e9ed;

    font-weight: normal;
    font-size: 14px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  &__title {
    color: #757c83;
  }
  &__type {
    color: #000000;
  }
}

.card-all-characteristics {
  img {
    margin-right: 13px;
  }
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
  color: #000000;
}

.card-tabs {
  &__buttons {
    padding-bottom: 13px;
    margin-bottom: 67px;
    border-bottom: 1px solid #b6bec6;

    display: flex;
    align-items: flex-start;
  }
  &__content {
    display: flex;
    align-items: flex-start;
  }
  &__desc {
    width: 552px;
  }
  &__desc-title {
    margin-bottom: 28px;
    font-family: 'Intro Bold', Arial, sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 130%;
    color: #000000;
  }
}

.card-tab {
  font-weight: normal;
  font-size: 16px;
  color: #000000;
  opacity: 0.5;
  position: relative;
  &:not(:last-child) {
    margin-right: 73px;
  }
  &--active,
  &:hover {
    opacity: 1;
  }
  &--active::before,
  &:hover::before {
    content: "";
    position: absolute;
    bottom: -16px;
    left: 0;
    width: 100%;
    height: 3px;
    background: #ee6409;
  }
}
