.catalog-tabs {
  padding-bottom: 40px;
  border-bottom: 1px solid #C9D0D7;
  display: flex;
  align-items: flex-start;
}

.catalog-tab {
  display: flex;
  align-items: flex-end;
  font-weight: normal;
  &__heading {
    margin-right: 10px;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    
  transition: .2s;
  }
  &__value {
    font-size: 12px;
    line-height: 20px;
    color: #676f77;
  }
  &:not(:last-child) {
    margin-right: 32px;
  }
  &--active,
  &:hover {
    .catalog-tab__heading {
      color: #F77D0C;
    }
  }
}
