.page-contacts {
  .breadcrumbs {
    margin-bottom: 38px;
  }
}

.contact-title {
  font-family: "Intro Bold", Arial, sans-serif;
  font-weight: bold;
  font-size: 48px;
  line-height: 120%;
  /* identical to box height, or 58px */
  color: #000000;
}

.contacts-wrapper {
  padding-bottom: 51px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  border-bottom: 1px solid #c9d0d7;
}

.contacts-list {
  margin-top: 50px;
  &__item {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
  &__heading {
    font-weight: normal;
    font-size: 13px;
    line-height: 150%;
    /* identical to box height, or 19px */
    color: #676f77;
  }
  &__desc {
    margin-top: 2px;
    font-weight: normal;
    font-size: 16px;
    line-height: 170%;
    /* or 27px */
    color: #000000;
  }
  &__phone {
    display: block;
    margin-top: 6px;

    font-family: "Intro Regular", Arial, sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 125%;
    /* identical to box height, or 22px */
    color: #000000;
  }
  &__email {
    display: block;
    margin-top: 6px;

    font-family: "Intro Regular", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 125%;
    /* identical to box height, or 22px */
    color: #000000;
  }
}

.contacts-social {
  margin-top: 7px;
  display: flex;
  align-items: flex-start;
  &__link {
    display: block;
    width: 32px;
    height: 32px;
    border: 1px solid transparent;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.2s;
    &:hover {
      border-color: #e56e00;
    }
    &:not(:last-child) {
      margin-right: 16px;
    }
    &--tg {
      background-image: url("../img/contact-tg.svg");
    }
    &--fb {
      background-image: url("../img/contact-fb.svg");
    }
    &--insta {
      background-image: url("../img/contact-insta.svg");
    }
    &--vk {
      background-image: url("../img/contact-vk.svg");
    }
  }
}

.contacts-map {
  width: 744px;
  height: 408px;
  margin-top: 19px;
}

.contacts-callback {
  margin-top: 64px;
  margin-bottom: 95px;
  &__title {
    font-family: "Intro Bold", Arial, sans-serif;
    font-weight: bold;
    font-size: 32px;
    line-height: 130%;
    /* identical to box height, or 42px */
    color: #000000;
  }
}

.callback-form {
  margin-top: 30px;
  max-width: 856px;

  display: flex;
  align-items: flex-start;
  &__block {
    &--textarea {
      margin-left: 93px;
    }
  }
  &__option {
    margin-bottom: 30px;
  }
  &__label {
    display: block;
    margin-bottom: 5px;

    font-weight: normal;
    font-size: 13px;
    line-height: 150%;
    /* identical to box height, or 19px */
    color: #676f77;
  }
  &__input {
    width: 292px;
    height: 48px;
    padding: 0 14px;

    background: #f2f2f2;
    border: none;
    border-radius: 6px;

    font-weight: normal;
    font-size: 16px;
    line-height: 48px;
    color: #000000;
  }
  &__textarea {
    width: 470px;
    height: 147px;
    padding: 10px 16px;

    background: #f2f2f2;
    border-radius: 6px;
    border: none;

    font-weight: normal;
    font-size: 16px;
    line-height: 170%;
    /* or 27px */
    color: #676f77;
  }
  &__btn {
    margin-top: 19px;
    padding: 10px 63px;
  }
}
