*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;

  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  font-family: "Intro Book", Arial, sans-serif;
  color: #000;
}

.main-header {
  /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 0 0 auto;
}
.main {
  /* 1 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 1 0 auto;
}
.main-footer {
  /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 0 0 auto;
}

a {
  text-decoration: none;
}
ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h5,
h6,
p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
.container {
  max-width: 1160px;
  padding: 0 15px;
  margin: 0 auto;
}

button {
  display: inline-block;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.btn-primary {
  background: linear-gradient(90deg, #ee6409 0%, #f77d0c 100%);
  border-radius: 4px;

  font-weight: normal;
  font-size: 16px;
  line-height: 170%;
  color: #ffffff;
}

.section-title {
  font-weight: 400;
  font-size: 40px;
  line-height: 130%;
  color: #000000;
}

.section-title-small {
  font-size: 32px;
  line-height: 130%;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
