.hero {
  background-image: url("../img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  &__content {
    padding-top: 139px;
    padding-bottom: 132px;
    padding-left: 100px;
  }
  &__title {
    max-width: 480px;
    margin-bottom: 15px;
    font-family: "Intro Bold", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 48px;
    line-height: 120%;
    color: #ffffff;
  }
  &__desc {
    font-family: "Intro Bold", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 72px;
    line-height: 80px;
    text-transform: uppercase;
    color: #ffffff;
  }

  .swiper-button-next,
  .swiper-button-prev {
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      width: 40px;
      height: 40px;

      cursor: pointer;
    }
  }

  .swiper-button-next::after {
    right: 98px;
    background: url("../img/hero-next.svg") center no-repeat;
  }

  .swiper-button-prev::after {
    left: 98px;
    background: url("../img/hero-prev.svg") center no-repeat;
  }

  .swiper-pagination-bullets {
    bottom: 29px;
  }

  .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
  }

  .swiper-pagination-bullet-active {
    background-color: #fff;
  }
}

@media screen and (max-width: 1200px) {
  .hero {
    .swiper-button-next:after {
      right: 50px;
    }

    .swiper-button-prev:after {
      left: 50px;
    }
  }
}

@media screen and (max-width: 1140px) {
}

@media screen and (max-width: 1024px) {
  .hero {
    &__content {
      padding: 100px;
    }
  }
}

@media screen and (max-width: 768px) {
  .hero {
    &__content {
      padding: 60px 50px;
    }

    &__title {
      max-width: 100%;
      font-size: 36px;
    }
    &__desc {
      font-size: 60px;
      line-height: 70px;
    }

    .swiper-button-next:after {
      right: 15px;
    }

    .swiper-button-prev:after {
      left: 15px;
    }
  }
}

@media screen and (max-width: 480px) {
  .hero {
    .swiper-button-next:after {
      display: none;
    }

    .swiper-button-prev:after {
      display: none;
    }

    &__content {
      padding: 150px 15px 40px;
    }

    &__title {
      font-size: 32px;
    }

    &__desc {
      margin-bottom: 30px;
    }
  }
}
