.new {
  padding: 84px 0 0;
  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.new-tabs {
  display: flex;
  align-items: center;
  margin: 5px 12px 0 0;
}

.new-tab {
  padding: 0 12px;
  font-weight: normal;
  font-size: 16px;
  line-height: 170%;
  color: #000000;
  position: relative;
  &:hover,
  &--active {
    font-family: "Intro Regular", Arial, sans-serif;
  }
  &:hover::before,
  &--active::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #e7430b;
  }
  &:not(:last-child) {
    margin-right: 23px;
  }
}

.new-items-swiper-container {
  padding-bottom: 70px;
}

.new-items {
  margin: 57px 0 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  .swiper-button-next::after,
  .swiper-button-prev::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: 48px;
    height: 48px;
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;

    cursor: pointer;
  }

  .swiper-button-next::after {
    background-image: url('../img/new-item-next.svg');
  }

  .swiper-button-prev::after {
    background-image: url('../img/new-item-prev.svg');
  }

  .swiper-pagination-bullets {
    bottom: 10px;
  }

  .swiper-pagination-bullet-active {
    background: #E7430B;
  }
}

.new-item {
  max-width: 264px;
  min-height: 449px;
  &__header {
    min-height: 260px;
    margin-bottom: 17px;
  }
  &__content {
    padding: 0 15px;
  }
  &__link {
    display: block;
    max-width: 205px;
    margin-bottom: 5px;
    font-family: "Intro Regular", Arial, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
    transition: 0.2s;
    &:hover {
      color: #e56e00;
    }
  }
  &__desc {
    font-size: 14px;
    line-height: 160%;
    font-weight: 300;
    color: #676f77;
  }
  &__footer {
    margin-top: 19px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__prices {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__old-price {
    font-family: "Intro Regular", Arial, sans-serif;
    font-weight: normal;
    font-size: 12px;
    line-height: 125%;
    color: #b6bec6;
    text-decoration: line-through;
  }
  &__new-price {
    font-family: "Intro Bold", Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 125%;
    color: #000000;
  }
  &__cart {
    width: 64px;
    height: 40px;

    background-color: #e4e8ec;
    background-image: url("../img/item-cart.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
  }
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 1140px) {
}

@media screen and (max-width: 1024px) {

  .new {
    padding: 80px 0 0;
  }

  .new-item {
    margin: 0 auto;
  }

}

@media screen and (max-width: 768px) {

  .new {
    padding-top: 50px;
  }

}

@media screen and (max-width: 480px) {

  .new {
    &__nav {
      flex-direction: column;
    }
  }

  .new-tabs {
    margin: 15px 0;
  }

  .new-tab {
    padding: 0 10px;
  }

  .new-items {
    margin-top: 0;

    .swiper-button-next::after,
    .swiper-button-prev::after {
      display: none;
    }

    .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
    }

  }
}
