.services {
  margin-bottom: 130px;
  .section-title-small {
    margin-bottom: 45px;
  }
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
  }
}

.service-item {
  max-width: 360px;
  min-height: 210px;
  padding: 49px 32px 20px;
  background: #FFFFFF;
  box-shadow: 0px 12px 64px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  position: relative;
  &--delivery {
    &::before {
      content: '';
      position: absolute;
      top: 32px;
      left: 32px;
      widows: inherit;
      width: 56px;
      height: 56px;
      background: url('../img/service-1.svg') center no-repeat;
    }
  }
  &--assortment {
    &::before {
      content: '';
      position: absolute;
      top: 42px;
      left: 32px;
      width: 51px;
      height: 50px;
      background: url('../img/service-2.svg') center no-repeat;
    }
  }
  &--management {
    &::before {
      content: '';
      position: absolute;
      top: 44px;
      left: 34px;
      width: 51px;
      height: 54px;
      background: url('../img/service-3.svg') center no-repeat;
    }
  }
  &__title {
    padding-left: 81px;
    margin-bottom: 25px;
    font-family: 'Intro Regular', Arial, sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 125%;
    color: #000000;
  }
  &__desc {
    font-weight: 400;
    font-size: 13px;
    line-height: 150%;
    color: #676F77;
  }
}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 1140px) {

  .services {
    &__wrapper {
      grid-gap: 15px;
    }
  }

}

@media screen and (max-width: 1024px) {

  .services {
    margin-bottom: 80px;
  }

  .service-item {
    padding: 15px;

    &__title {
      margin-top: 65px;
      margin-bottom: 20px;
      padding-left: 0;
    }

    &::before {
      top: 15px;
      left: 15px;
    }
  }

}

@media screen and (max-width: 768px) {

  .services {
    &__wrapper {
      grid-template-columns: repeat(2, 1fr);
    }
  }

}

@media screen and (max-width: 480px) {

  .section-title-small {
    font-size: 25px;
  }

  .services {
    margin-bottom: 50px;
    &__wrapper {
      grid-template-columns: auto;
    }
  }

  .service-item {
    max-width: 100%;
  }

}