.service-banner {
  min-height: 352px;
  padding-top: 45px;
  margin-bottom: 94px;

  background-image: url("../img/service-bg.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  position: relative;
  z-index: 10;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(gh-header.jpg);
    z-index: -1;
  }
  .breadcrumbs {
    margin: 0;
    &__link,
    &__current {
      color: #fff;
    }
    &__divider {
      background: #fff;
    }
  }
  &__content {
    max-width: 480px;
    margin-top: 44px;
    color: #fff;
    font-family: "Intro Bold", Arial, sans-serif;
  }
  &__title {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 48px;
    line-height: 120%;
  }
  &__desc {
    font-weight: bold;
    font-size: 20px;
    line-height: 130%;
  }
}

.about-service {
  margin-bottom: 70px;
  display: flex;
  align-items: center;
  &__desc {
    max-width: 756px;
    margin-right: 20px;
    font-weight: normal;
    font-size: 32px;
    line-height: 130%;
    /* or 42px */
    color: #000000;
  }
  &__link {
    width: 265px;
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-top: 20px;
    padding-bottom: 27px;
    padding-right: 46px;
    padding-left: 45px;

    border: 3px solid #ee6409;
    border-radius: 4px;
    
    span {
      font-family: 'Intro Regular', Arial, sans-serif;
      font-size: 18px;
      color: #000000;
    }

    img {
      margin-left: 52px;
    }
  }
}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 1140px) {

  .about-service {
    &__desc {
      max-width: 650px;
    }
  }

}

@media screen and (max-width: 1024px) {

  .about-service {
    &__desc {
      max-width: 500px;
      font-size: 30px;
    }
    &__link {
      width: 210px;
      img {
        margin-left: 20px;
      }
    }
  }

}

@media screen and (max-width: 768px) {

  .service-banner {
    margin-bottom: 50px;
  }

  .about-service {
    flex-direction: column;
    align-items: flex-start;
    &__desc {
      max-width: 100%;
      margin: 0 0 20px;
    }
    &__link {
      margin-left: 0;
    }
  }

}

@media screen and (max-width: 480px) {


  .about-service {
    margin-bottom: 50px;
    &__desc {
      font-size: 20px;
    }
    &__link {
      width: 100%;
      padding-top: 15px;
      padding-bottom: 15px;
      img {
        margin-left: auto;
      }
    }
  }

}
