*,
*::after,
*::before {
  box-sizing: border-box;
}


body {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: $opensans;
  color: #000;
  position: relative;
}

a {
  text-decoration: none;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h5,h6,p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

button {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn-primary {
  display: inline-block;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.section-title {
  font-weight: bold;
  font-size: 52px;
  line-height: 110%;
  font-family: $ttnorms;
  letter-spacing: 0.02em;
  color: #575B5E;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}